<html>

<head></head>

<body>

    <input type="file" name="file_1" id="file_1" />
    <button id="btn-save">Click Here</button>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btn-save").on("click", function (e) {
            e.preventDefault();
            $('#file_1').change(function () {
                var file_name = $("#file_1").val();
                alert(file_name);
                var sample_path = this.files[0].mozFullPath;
                console.log(sample_path);
            });

            alert("Clicked");
            $.ajax({
                url: "{% url 'upload' %}",
                type: 'GET',
                data: {
                    sample_path: "sample_path"
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    });

</script>