{% extends 'master.html' %}

{% load static %}

{% block slider %}
<!-- Show case bar -->

<div class="w-100 mt-3">
    <div class="row">

        <div class="main-show-case">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img.jpg" class="d-block w-100 main-carsl" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="static/img.jpg" class="d-block w-100 main-carsl" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="static/img.jpg" class="d-block w-100 main-carsl" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block box-content %}
<!-- Boxes for content -->

<div class="container container-fluid mt-5">
    <div class="row p-2">
        {% if data %}
        {% for i in data %}
        <div class="col-sm-3 bocs">
            <div style="background-color:whitesmoke; position:relative;">
                <div class="bocs2">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-inner carsl">
                            <div class="carousel-item active">
                                <img src="{{i.property_data.property_image_1}}" class="d-block w-100" alt="...">
                            </div> 
                        </div>
                    </div>
                    <br>
                    <span><b>Property Type </b>: {{i.property_data.property_type}}</span>
                    <hr>
                    <span><b>For </b>: {{i.property_data.selling_option}}</span><br> 
                    <span><b>Status </b>: {{i.property_data.construction_status}}</span><br> 
                    <span><b>Floors </b>: {{i.property_data.floor}}</span><br> 
                </div>
                <button class="btn btn-outline-primary p_button" style="background-color:whitesmoke;"><b>More Details!</b></button> 
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block video %}
<!-- videos show case -->
<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="c-1"></div>
        </div>
        <div class="col-sm-6">
            <div class="c-1"></div>
        </div>
        <div class="col-sm-6">
            <div class="c-1"></div>
        </div>
        <div class="col-sm-6">
            <div class="c-1"></div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
<!-- Footer -->
</div>
<!-- <script src=" static/bootstrap/js/bootstrap.min.js"></script> -->
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>