<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/index.css" rel="stylesheet">
  <!-- <link href="static/fonts/font.css" rel="stylesheet">  -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body class="main-container">
  <div class="main">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navigation-bar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/show_property_detail">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <input type="button" value="Subscribe" onclick="geeks();" />
            </li>
          </ul>
          {% if 'user_name' in request.session %}
          Hello, {{request.session.user_name}}
          <form method="post" action="logout" class="form-control">
            {% csrf_token %}
            <input type="submit" class="form-control">
          </form>
          {% else %}
          <a href="login">Login/Sign up</button>
            {% endif %}
            <!-- Modal for login and signup -->
            <div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pt-2">
                    <input class="form-control mt-2" type="text" placeholder="Enter Your Name">
                    <input class="form-control mt-2" type="text" placeholder="Enter Your Email">
                    <input class="form-control mt-2" type="text" placeholder="Enter Your Password">
                  </div>
                  <hr>
                  <button class="btn btn-primary fb">Login</button>
                  <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Login</button>
                </div> -->
                </div>
              </div>
            </div>
        </div>
      </div>
    </nav>
    {% block login-system %}
    {% endblock %}
    <!-- Show case bar -->
    {% block slider %}
    {% endblock %}
    <!-- Boxes for content -->
    {% block box-content %}
    {% endblock %}
    <!-- videos show case -->
    {% block video %}
    {% endblock %}

    <!-- Create forms -->
    {% block form_ui %}
    {% endblock %}
    <!-- Footer -->
    {% block footer %}
    <div class="w-100 mt-3">
      <div class="row">
        <div class="main-show-case-footer">
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- Creating notifications -->
    <div id="containerr">
      <div class="message">
        Thanks for Subscription<br>A Computer
        Science Portal for Geeks
      </div>
      <button class="yes">okay</button>
    </div>
  </div>
  <!-- <script src="static/bootstrap/js/bootstrap.min.js"></script>  -->
  <script src="static/js/form_mangement.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>