{% extends 'master.html' %}

{% load static %}
{% block style %}
<style>
  .text-center {
    color: #0d6efd;
  }

  .img_box {
    height: 200px;
  }
</style>
{% endblock %}
{% block login-system %}
<div class="text-center p-5">
  <div class="row">
    {% for i in data %}
    <div class="col-sm-3 bocs">
      <div style="background-color:whitesmoke; position:relative;">
        <div class="bocs2" style="height:290px;">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner carsl">
              <div class="carousel-item active">
                <img src="{{i.property_data.property_image_1}}" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <br>
          <span><b>Property Type </b>: {{i.property_data.property_type}}</span>
          <hr>
          <span><b>For </b>: {{i.property_data.selling_option}}</span><br>
          <span><b>Status </b>: {{i.property_data.construction_status}}</span><br>
          <span><b>Floors </b>: {{i.property_data.floor}}</span><br>
        </div>
        <a href="update_property_record/{{i.id}}/" class="btn btn-outline-primary p_button"
          style="background-color:whitesmoke;"><b>Update Property
            Data</b></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  $(document).ready(function () {
  }); 
</script>
{% endblock %}

{% block footer %}
{% endblock %}