{% extends 'master.html' %}

{% load static %}

{% block login-system %}
<form class="mt-5 form-control" method="POST" action="signup">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h2>Register Here!</h2>
            <hr>
        </legend>
        <label for="user_name">Username:</label>
        <input class="form-control form-control-2" type="text" id="user_name" name="user_name">
        <hr>
        <label for="user_email">User Email:</label>
        <input class="form-control form-control-2" type="email" id="user_email" name="user_email">
        <hr>
        <label for="user_number">User Mobile Number:</label>
        <input class="form-control form-control-2" type="text" id="user_number" name="user_number">
        <hr>
        <label for="user_gender">Gender:</label>
        Male : <input class="form-check-input" type="radio" id="user_gender" name="user_gender" value="male">
        Female : <input class="form-check-input" type="radio" id="user_gender" name="user_gender" value="female">
        <hr>
        <label for="user_psw">Password:</label>
        <input class="form-control form-control-2" type="password" id="user_psw" name="user_psw">

        <input type="submit" value="Submit" id="login_submit_button">
    </fieldset>
</form>
{% endblock %}

{% block footer %}
{% endblock %}