all_module 
.vscode 
.gitignore
venv 
staying_source/__pycache__ 
user_1/__pycache__/
user_1/migrations/__pycache__/urls.cpython-311.pyc 
user_1/migrations/__pycache__/urls.cpython-311.pyc
user_1/apis/fetch_api/__pycache__ 
user_1/apis/fetch_api/state_management/__pycache__ 
media/
.venv
.myvenv
bi 
database 
venv_1
venv2 
*.pyc
user_1/fetch_api/__pycache__/main_functions.cpython-311.pyc 
user_1/__pycache__/urls.cpython-311.pyc
user_1/apis/REST_API/__pycache__/database.cpython-311.pyc
