asgiref
autoflake
beautifulsoup4
black
certifi
cffi
channels
charset-normalizer
click
colorama
cryptography
decorator
defusedxml
Django
django-allauth
django-bootstrap
django-otp
djangorestframework
environ
exceptiongroup
future
geocoder
geographiclib
geopy
idna
iniconfig
install
mypy-extensions
numpy
oauthlib
packaging
pandas
pathspec
platformdirs
pluggy
psycopg
pycparser
pyflakes
PyJWT
pyotp
pytest
python-dateutil
python-openid
pytz
ratelim
requests
requests-oauthlib
six
soupsieve
sqlparse
tomli
typing_extensions
tzdata
