{% extends "theme/master.html" %}
{% block start %}
<style>
    .form-group {
        text-align: left;
        width: 50%;
    }
</style>
<div class="content-section col-md-8 col-md-offset-2">
    <center>
        <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form}}
            </fieldset>
            <center>
                <br>
                <button class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span>
                    login</button>
                {% load socialaccount %}
                <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-outline-info">Google</a>
                <a href="register_app" class="btn btn-outline-info">Register</a>
            </center>
            <br />
        </form>
    </center>
</div>
{% endblock start %}