{% extends "theme/master.html" %}
{% block start %}
{% load static %}
<style>
    body {
        background-image: url({% static 'pexels-pixabay-259962.jpg' %});
        background-repeat: no-repeat;
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row">
    <div class="content-section col-md-6">
        <form method="POST" style="border: 1px solid #0099ff; margin: 4%; padding:5%; border-radius:1%;"
            class="bg-white">
            {% csrf_token %}
            {% load socialaccount %}
            <h1 style="color: #0099ff;" class="text-center">Register</h1>
            <hr>
            <fieldset class="form-group">
                {{form}}
            </fieldset>
            <center>
                <br>
                <button class="btn btn-outline-info" type="submit">Sign
                    up</button>
                    <hr>
                    
                <a href="/login" class="btn btn-outline-info">Already have an account ?</a>
            </center>
            <br />
        </form>
    </div>
    <div class="col-md-6">
        <div
            style="padding:2%; margin: 4%; border-radius:1%;color: #0099ff; font-weight: bolder; font-size: 100px; text-align: center;">
            Build dreams with us!
        </div>
    </div>
</div>
{% endblock%}