{% extends "theme/master.html" %}
{% block start %}
{% load static %}
<style>
  body {
    background-image: url("{% static 'pexels-pixabay-259962.jpg' %}");
    background-repeat: no-repeat;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="row">
  <div class="content-section col-md-6">
    <form method="POST" style="border: 1px solid #0099ff; margin: 4%; padding:5%; border-radius:1%;" class="bg-white">
      {% csrf_token %}
      {% load socialaccount %}
      <h1 style="color: #0099ff;" class="text-center">Register</h1>
      <hr>
      <fieldset class="form-group">
        {{form.as_p}}
      </fieldset>
      <input type="text" id="otp" name="otp">
      <button type="button" onclick="send_otp()">Send OTP</button>
      <button type="button" onclick="verify_otp()">Verify OTP</button>
      <center>
        <br>
        <button class="btn btn-outline-info" type="submit">Sign
          up</button>
        <hr>
        <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-outline-info"><i
            class="fa-brands fa-google"></i> Join With Google</a>
        <a href="/login" class="btn btn-outline-info">Already have an account ?</a>
      </center>
      <br />
    </form>
  </div>
  <div class="col-md-6">
    <div
      style="padding:2%; margin: 4%; border-radius:1%;color: #0099ff; font-weight: bolder; font-size: 100px; text-align: center;">
      Build dreams with us!
    </div>
  </div>
</div>
<script>
  function send_otp() {
    const email = $('input[name="email"]').val();
    var headers = {
      email: email,
      csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
    }
    $.ajax({
      url: '{% url "send_otp_mail" %}',
      method: 'POST',
      data: headers,
      success: function (data) {
        alert("Email sent to your email.");
      },
      error: function (xhr, textStatus, errorThrown) {
        alert("An error cooured.");
      }
    });
  }


  function verify_otp() {
    const email = $('input[name="email"]').val();
    const otp = $('#otp').val();
    var headers = {
      email: email,
      otp: otp,
      csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
    }
    $.ajax({
      url: '{% url "verify_otp_mail" %}',
      method: 'POST',
      data: headers,
      success: function (data) {
        if (data === 'Success') {
          window.location.href = "/home";
        }
      },
      error: function (xhr, textStatus, errorThrown) {
        console.error('Error:', errorThrown);
        alert('An error occurred.');
      }
    });
  }
</script>
{% endblock%}