{% extends 'theme/master.html' %}
{% block add_property_details %}active{% endblock %}
{% block main_content %}
<style>
    .p_type_btn {
        border-radius: 20px;
        border: 1px solid white;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        background-color: skyblue;
        color: black !important;
    }

    .p_type_btn:hover {
        background-color: white;
        color: black !important;
    }

    .active_btn {
        background-color: aliceblue;
        color: #0099ff !important;
    }

    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
    }
</style>
<div class="container-fluid bg-primary mb-4 wow fadeIn" data-wow-delay="0.1s" style="padding: 0px;">
    <div class="container">
        <div class="scroller" style="overflow: auto; display:flex;">
            <button class="col-md-2 btn p_type_btn btn-outline-primary text-white border-white" style="margin:10px;"
                value="all"><a href="{% url 'add_property_details' %}">Add new property</a></button>
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn dashboard_page"
                style="margin:10px;" value="all"><a href="{% url 'dashboard' %}">Property dashboard</a></button>
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn" style="margin:10px;">
                <a href="{% url 'prop_table' %}">Property list</a></button>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded mx-0 p-2">
        {% for i in data %}
        <div class="col-md-3 bg-light parent-props-box">
            <div class="prop-box text-center p-2">
                <span>
                    <b class="text-dark">{{i.property_data.property_type}}</b>
                </span>
                <div style="height:230px;">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        </div>
                        <div class="carousel-inner">
                            {% for i in i.property_data.property_image %}
                            {% if i|first %}
                            <div class="carousel-item active">
                                <img src="{{i}}" alt="" style="width:100%;height:230px;">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="text-left">
                    <span>
                        <label>Property Type: </label>
                        <b class="text-dark">{{i.property_data.property_type}}</b>
                        <br>
                        <label>For: </label>
                        <b class="text-dark">{{i.property_data.selling_option}}</b>
                        {% if i.property_data.selling_option == "sell" or "Sell"%}
                        <br>
                        <label>Sell Price: </label>
                        <b class="text-dark">{{i.property_data.property_value}}</b>
                        {% elif i.property_data.selling_option == "rent" %}
                        <label>Rent Price: </label>
                        <b class="text-dark">{{i.property_data.property_rent_price}}</b>
                        {% else %}
                        <label>Sell Price: </label>
                        <b class="text-dark">{{i.property_data.property_value}}</b> <br>
                        <label>Rent Price: </label>
                        <b class="text-dark">{{i.property_data.property_rent_price}}</b>
                        {% endif %}
                        <a href="delete_property_record/{{i.id}}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        <a href="update_property_record/{{i.id}}"> Update
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var page_name = "{{dashboard_page}}";

    if (page_name == "dashboard_page") {
        $(".dashboard_page").addClass("active_btn");
    }
</script>
{% endblock %}