{% extends 'theme/master.html' %}
{% block manage_property %}active{% endblock %}
{% block main_content %}
<style>
    #main {
        padding: 0px;
    }

    #scroller {
        overflow: auto;
        display: flex;
    }

    .p_type_btn {
        border-radius: 20px;
        border: 1px solid white;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        background-color: skyblue;
        color: black !important;
    }

    .p_type_btn:hover {
        background-color: white;
        color: black !important;
    }

    #dashboard_btn,
    #list_btn {
        margin: 10px;

    }

    .active_btn {
        background-color: aliceblue;
        color: #0099ff !important;
    }

    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
    }
</style>
{% if data|length != 0 %}
<div class="container-fluid bg-primary mb-4 wow fadeIn" id="property_deshboard" data-wow-delay="0.1s">
    <div class="container">
        <div class="scroller" id="scroller">
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn dashboard_page"
                id="dashboard_btn" value="all"><a href="{% url 'dashboard' %}">Property dashboard</a></button>
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn property_table"
                id="list_btn">
                <a href="{% url 'prop_table' %}">Property list</a></button>
        </div>
    </div>
</div>
{% else %}
<div class="container p-5">
    <h5>You have no property!</h5>
    <a href='add_property_details' class="btn btn-outline-primary">Add Property</a>
</div>
{% endif %}
<div class="container-fluid pt-4">
    <div class="row rounded mx-0 p-2 g-4">
        {% for i in data %}
        <div class="col-lg-3 col-md-4 wow fadeInUp property_box" data-wow-delay="0.1s">
            <div class="property-item rounded overflow-hidden border">
                <div class="position-relative overflow-hidden">
                    <div id="carouselExampleControlsNoTouching{{i.id}}" class="carousel slide" data-interval="true"
                        data-bs-touch="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="property_details/{{i.id}}"><img class="img-fluid"
                                        style="width:100%; height: 190px;"
                                        src="{{i.property_data.property_image|first}}" alt="" loading="lazy"></a>
                            </div>
                            {% if i.property_data.property_image %}
                            {% for j in i.property_data.property_image|slice:"1:"%}
                            <div class="carousel-item">
                                <a href="property_details/{{i.id}}"><img class="img-fluid d-block w-100" src="{{j}}"
                                        alt=""></a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <b>Image is not available</b>
                            {% endif %}
                        </div>
                        <b>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching{{i.id}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                        </b>
                        <b>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching{{i.id}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </b>
                    </div>
                    <div class="bg-primary rounded-top text-light position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                        {{i.property_data.property_type}}</div>
                    <div class="bg-dark rounded-bottom text-light position-absolute top-0 end-0 mx-4 pt-1 px-3">
                        Property id: <b>{{i.id}}</b></div>
                </div>
                <div class="p-3 pb-0 for_popup_box" style="position: relative;" id="modal__${property_id[i]}_popup">
                    <a class="d-block mb-2" href="property_details/{{key}}" id="/Month">
                        <h5 class="text-primary mb-2">${{i.property_data.property_rent_price}}/Month</h5>
                    </a>
                    <a class="d-block mb-2" href="property_details/{{i.id}}">
                        <b class="d-block h6 mb-2">{{i.property_data.property_type}} For
                            {{i.property_data.selling_option}}
                        </b>

                        <span class="overflow-scroll small"><i
                                class="fa-solid fa-location-dot text-primary"></i>&nbsp;{{i.property_data.property_address}}</span>
                    </a>

                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center mt-1">
                        <a href="delete_property_record/{{i.id}}">
                            <i class="fa fa-trash h2"></i>
                        </a>
                    </small>
                    <small class="flex-fill text-center mt-1">
                        <a href="update_property_record/{{i.id}}">
                            <i class="fa fa-pencil-square-o h2"></i>
                        </a>
                    </small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var page_name = "{{dashboard_page}}";

    if (page_name == "dashboard_page") {
        $(".dashboard_page").addClass("active_btn");
    }
</script>
{% endblock %}