{% extends 'theme/master.html' %}
{% block manage_property %}active{% endblock %}
{% block main_content %}
<style>
    .p_type_btn {
        border-radius: 20px;
        border: 1px solid white;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        background-color: skyblue;
        color: black !important;
    }

    .p_type_btn:hover {
        background-color: white;
        color: black !important;
    }

    .active_btn {
        background-color: aliceblue;
        color: #0099ff !important;
    }

    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
    }
    .scroller{
        overflow: auto; 
        display: flex;
    }
    #property_deshboard{
        padding: 0px;
    }
    #Property_list{
        margin:10px;
    }
    #property_details{
        width:100%; 
        height: 190px;
    }
    #parent_Property{
        position: relative;
    }
    #child_Property{
        background-color:white;display: block;
    }
    #Property_dashboard{
        margin:10px;
    }
</style>
<div class="container-fluid bg-primary mb-4 wow fadeIn" id="property_deshboard" data-wow-delay="0.1s">
    <div class="container">
        <div class="scroller" >
            <!-- <button class="col-md-2 btn p_type_btn btn-outline-primary text-white border-white" style="margin:10px;"
                value="all"><a href="{% url 'add_property_details' %}">Add new property</a></button> -->
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn dashboard_page"
                id="Property_dashboard" value="all"><a href="{% url 'dashboard' %}">Property dashboard</a></button>
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn" id="Property_list" >
                <a href="{% url 'prop_table' %}">Property list</a></button>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded mx-0 p-2">
        {% for i in data %}
        <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="property-item rounded overflow-hidden border">
                <div class="position-relative overflow-hidden">
                    <div id="carouselExampleControlsNoTouching{{i.id}}" class="carousel slide" data-interval="true"
                        data-bs-touch="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="property_details/{{i.id}}"><img class="img-fluid d-block w-100" id="property_details"
                                        src="{{i.property_data.property_image|first}}" alt=""></a>
                            </div>
                            {% if i.property_data.property_image %}
                            {% for j in i.property_data.property_image|slice:"1:"%}
                            <div class="carousel-item">
                                <a href="property_details/{{i.id}}"><img class="img-fluid d-block w-100" src="{{j}}" alt=""></a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <b>Image is not available</b>
                            {% endif %}
                        </div>
                        <b>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching{{i.id}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                        </b>
                        <b>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching{{i.id}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </b>
                    </div>
                </div>
                <div class="p-2 pb-0 text-center" id="parent_Property" >
                    <a class="d-block mb-2" href="property_details/{{i.id}}" id="child_Property"><b
                            class="text-primary mb-3">{{i.property_data.property_rent_price}}/Month
                        </b>
                        <span>
                            <i class="fa fa-circle text-small fa-2xs"></i>
                        </span>
                        <span>
                            <span class="text-primary"><b>{{i.property_data.property_type}}</b></span>
                            <span>
                                <i class="fa fa-circle text-small fa-2xs"></i>
                            </span>
                            <span class="text-primary"><b></b>{{i.property_data.selling_option}}</b></span>
                        </span>
                    </a>
                    <div class="row text-center">
                        <div class="col-6">
                            <a href="delete_property_record/{{i.id}}">
                                <button class="btn btn-outline-danger">Delete</button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="update_property_record/{{i.id}}">
                                <button class="btn btn-success">Update</button>
                            </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var page_name = "{{dashboard_page}}";

    if (page_name == "dashboard_page") {
        $(".dashboard_page").addClass("active_btn");
    }
</script>
{% endblock %}