<head>
    ...
    <style>
        #map {
            height: 400px;
            width: 80%
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        function initMap() {
            var options = {
                zoom: 15,
                center: { lat: 33.933241, lng: -84.340288 },
            };
            var map = new google.maps.Map(document.getElementById('map'), options);

            var marker = new google.maps.Marker({
                position: { lat: 33.933241, lng: -84.340288 },
                map: map,
            });
        }

    </script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1U5FbgRaqD3kRo8Vbm9Ae0L4lhjg8pak&callback=initMap">
        </script>
</body>