{% extends 'theme/master_filter.html' %}
{% load static %}
{% block home %}active{% endblock %}
{% block property %}
{% load custom_filters %}
<!-- Search Start -->
<style>
    img {
        width: 100%;
    }

    #property_details {
        width: 100%;
        height: 190px;
    }

    #Month_parent {
        position: relative;
    }

    #Month {
        background-color: white;
        display: block;
    }

    #popup_for_property {
        position: absolute;
        top: 80%;
        left: 80%;
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 100px;
        height: auto;
        overflow: auto;
        border-radius: 5px;
    }

    .hidden {
        display: none;
    }
</style>
<div class="col-md-12">
    <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-4 property_counter gallery" id="prop_count_gallery">
                {% for key, val in property_data_all.items %}
                <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="property-item rounded border" id="prop_item">
                        <div class="position-relative overflow-hidden">
                            <div id="carouselExampleControlsNoTouching{{val.id}}" class="carousel slide"
                                data-interval="true" data-bs-touch="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="property_details/{{val.id}}"><img class="img-fluid d-block w-100"
                                                id="property_details" src="{{val.property_data.property_image|first}}"
                                                alt=""></a>
                                    </div>
                                    {% if val.property_data.property_image %}
                                    {% for j in val.property_data.property_image|slice:"1:"%}
                                    <div class="carousel-item">
                                        <a href="property_details/{{val.id}}"><img class="img-fluid d-block w-100"
                                                id="property_details" src="{{j}}" alt=""></a>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <b>Image is not available</b>
                                    {% endif %}
                                </div>
                                <b>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching{{val.id}}"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                </b>
                                <b>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching{{val.id}}"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </b>
                            </div>
                            <!-- <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                For {{val.property_data.selling_option}}</div> -->
                            <!-- <div
                                class="bg-primary rounded-top text-light position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                {{val.property_data.property_type}}</div> -->
                        </div>
                        <div class="p-3 pb-0 for_popup_box" style="position: relative;" id="{{key}}_popup">
                            <a class="d-block mb-2" href="property_details/{{val.id}}" id="/Month">
                                <h5 class="text-primary mb-2">${{val.property_data.property_rent_price}}</h5>
                            </a>
                            <a class="d-block mb-2" href="property_details/{{val.id}}">
                                <b class="d-block h5 mb-2">{{val.property_data.property_type}} For
                                    {{val.property_data.selling_option}}
                                </b>
                            </a>
                            <p>
                                <i
                                    class="fa fa-map-marker text-primary me-2"></i>{{val.property_data.property_address|truncatechars:20}}...
                            </p>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center mt-1">
                                <h5>
                                    <a href='tel:{{key|split:"_"|first}}'><i class="fa fa-phone"></i></a>
                                </h5>
                            </small>
                            <small class="flex-fill text-center mt-1">
                                <h5>
                                    {% if val.id|stringformat:"s" in liked_property_list %}
                                    <i class="fa-solid fa-heart" prop_id="{{val.id}}" onclick="like_prperty(this);"></i>
                                    {% else %}
                                    <i class="fa-regular fa-heart" prop_id="{{val.id}}"
                                        onclick="like_prperty(this);"></i>
                                    {% endif %}
                                </h5>
                            </small>
                            <small class="flex-fill text-center mt-1">
                                <h5>
                                    <i class="fa fa-share-alt" url="property_details/{{val.id}}"
                                        onclick="openModal(this);"></i>
                                </h5>
                            </small>
                            <small class="flex-fill text-center mt-1">
                                <h5>
                                    {% if val.id|stringformat:"s" in saved_property_list %}
                                    <i class="fa fa-bookmark saved_property" id="tooltip_parent"
                                        data-bs-toggle="tooltip" prop_id="{{val.id}}" onclick="bookmark_property(this);"
                                        data-bs-placement="top" data-bs-title="Tooltip on top"></i>
                                    {% else %}
                                    <i class="fa fa-bookmark-o saved_property" id="tooltip_parent"
                                        data-bs-toggle="tooltip" prop_id="{{val.id}}" onclick="bookmark_property(this);"
                                        data-bs-placement="top" data-bs-title="Tooltip on top"></i>
                                    {% endif %}
                                </h5>
                            </small>
                            <small class="flex-fill text-center mt-1">
                                <h5>
                                    <i class="fa-solid fa-circle-info"
                                        onclick="toggle_property_popup('{{key}}_popup')"></i>
                                </h5>
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {% for i in page_range %}
                <a style="margin-left: 5px;" class="ajax-pag" href="{{i}}">{{i}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Modal for report a property -->
<button type="button" class="btn btn-primary d-none click_modal" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Why are you reporting this post?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="spam" value="spam">
                            <label class="form-check-label" for="spam">
                                It's spam
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="nudity" value="nudity">
                            <label class="form-check-label" for="nudity">
                                Nudity or sexual activity
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="hateSpeech"
                                value="hateSpeech">
                            <label class="form-check-label" for="hateSpeech">
                                Hate speech or symbols
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="violence"
                                value="violence">
                            <label class="form-check-label" for="violence">
                                Violence or dangerous organizations
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="illegalSale"
                                value="illegalSale">
                            <label class="form-check-label" for="illegalSale">
                                Sale of illegal or regulated goods
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="bullying"
                                value="bullying">
                            <label class="form-check-label" for="bullying">
                                Bullying or harassment
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="intellectualProperty"
                                value="intellectualProperty">
                            <label class="form-check-label" for="intellectualProperty">
                                Intellectual property violation
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="suicide"
                                value="suicide">
                            <label class="form-check-label" for="suicide">
                                Suicide or self-injury
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="eatingDisorders"
                                value="eatingDisorders">
                            <label class="form-check-label" for="eatingDisorders">
                                Eating disorders
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="scam" value="scam">
                            <label class="form-check-label" for="scam">
                                Scam or fraud
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="falseInfo"
                                value="falseInfo">
                            <label class="form-check-label" for="falseInfo">
                                False information
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportReason" id="dontLike"
                                value="dontLike">
                            <label class="form-check-label" for="dontLike">
                                I just don't like it
                            </label>
                        </div>
                        <div class="mt-3">
                            <label>Any other complaints?</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Send Report</button>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
<script>
    setInterval(function () {
        $(".carousel-control-next").click();
    }, 15000);
    // Open popup 
    function toggle_property_popup(popup) {
        var has_popup = $(`#${popup}`).find("#popup_for_property").length > 0;
        if (has_popup) {
            $(`#${popup}`).find("#popup_for_property").remove();
            return false;
        }
        const is_popup = document.getElementById("popup_for_property");
        if (is_popup) {
            $("#popup_for_property").remove();
        }
        var popup_id = popup.split("__");
        popup_id = popup_id[1];
        popup_id = popup_id.split("_");
        popup_id = popup_id[0];
        $(`#${popup}`).append(`<button class="btn" id="popup_for_property" value=${popup_id} onclick="report_form(this)">Report</button>`);
    }
    function report_form(Property_id) {
        $(".click_modal").click();
    }
</script>
{% endblock %}