{% extends 'theme/master_filter.html' %}
{% load static %}
{% block home %}active{% endblock %}
{% block property %}
{% load custom_filters %}
<!-- Search Start -->
<style>
    img {
        width: 100%;
    }

    #property_details {
        width: 100%;
        height: 190px;
    }

    #Month_parent {
        position: relative;
    }

    #Month {
        background-color: white;
        display: block;
    }
</style>
<div class="col-md-12">
    <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-4 property_counter gallery" id="prop_count_gallery">
            </div>
            <div class="pagination">
                {% for i in page_range %}
                <a style="margin-left: 5px;" class="ajax-pag" href="{{i}}">{{i}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
<script>
    setInterval(function () {
        $(".carousel-control-next").click();
    }, 15000);
    // clear redundunt session variable 
    sessionStorage.removeItem("seller_id");


    function otp_verification() {
        var is_verified = "{{is_email_verified}}";
        if (is_verified == "0") {
            $("#otpVerify").modal("show");
            var user_email = "{{request.session.email}}";
            $("#verify_email_field").val(user_email);
        }
    }
    setTimeout(function () {
        otp_verification();
    }, 2000)  
</script>
{% endblock %}