{% extends 'theme/master.html' %}
{% load static %}
{% block main_content %}
<div class="row g-3 mt-5 p-5" style="margin-left:auto;margin-right:auto; width:50%;">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="col-md-12 m-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Your Name">
                <label for="name">User Name</label>
                <span id="username_error" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12 m-3">
            <div class="form-floating">
                <input type="password" class="form-control" id="psw" placeholder="Your Password">
                <label for="email">Your Password</label>
                <span id="password_error" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 m-3">
            <div class="alert alert-danger d-none" role="alert" id="login_err">
                <button type="button" class="close btn" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <button class="btn btn-primary w-100 py-3 auth_btn">Login</button>
        </div>
        <div class="mt-2 m-3">
            <span>New User ?</span>
            <span><a href="signup">Register Here!</a></span>
        </div>
        <div class="mt-2 m-3">
            <span>Start with : </span>
            <span><a href="login">Google</a></span>
            <span><a href="login">Facebook</a></span>
            <span><a href="login">Whatsapp</a></span>
        </div>
    </div>
</div>
<!-- Javsscript code with jquery -->
<script>
    // validatio for form 

    $(document).ready(function () {
        $(".auth_btn").click(function (e) {
            var username = $("#name").val();
            var error = '';
            if (username === '') {
                error = 'Username is required.';
                $('#username_error').text(error);
            } else if (username.length < 3) {
                error = 'Username must be at least 3 characters long.';
                $('#username_error').text(error);
            } else if (!/^[a-zA-Z0-9_]+$/.test(username)) {
                error = 'Username can only contain letters, numbers, and underscores.';
                $('#username_error').text(error);
            }

            if (error !== '') {
                return false; // Prevent form submission
            }
            var password = $('#psw').val();
            var pass_error = '';

            if (password === '') {
                pass_error = 'Password is required.';
            } else if (password.length < 8) {
                pass_error = 'Password must be at least 8 characters long.';
            } else if (!/[A-Z]/.test(password)) {
                pass_error = 'Password must contain at least one uppercase letter.';
            } else if (!/[a-z]/.test(password)) {
                pass_error = 'Password must contain at least one lowercase letter.';
            } else if (!/[0-9]/.test(password)) {
                pass_error = 'Password must contain at least one digit.';
            }

            $('#password_error').text(pass_error);

            if (pass_error !== '') {
                return false; // Prevent form submission
            }
            var name = $("#name").val();
            var email = $("#psw").val();
            data = { "name": name, "email": email }
            $.ajax(
                {
                    type: "POST",
                    url: "/login",
                    data: {
                        data: data,
                        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                    },
                    success: function (response) {
                        if (response.err != '') {
                            if (response.err != undefined) {
                                $("#login_err").removeClass("d-none");
                                $("#login_err").text(response.err);
                                return false;
                            }
                        }
                        window.location.href = "/home";
                    },
                    error: function (xhr, status, error) {
                        $("#login_err").removeClass("d-none");
                        $(".login_err").text("Something went wrong!");
                    }
                });
        });
    });
</script>
{% endblock %}