{% extends 'theme/master.html' %}
{% load static %}
{% block main_content %}
<style>
    .active_btn_common {
        background-color: #0099ff;
    }

    .p_type_btn {
        border-radius: 20px;
        border: 1px solid white;
        padding: 5px;
        font-size: 15px;
        font-weight: 600;
    }

    .p_type_btn:hover {
        background-color: white;
        color: black !important;
    }

    .active_btn {
        background-color: aliceblue;
        color: #0099ff !important;
    }

    .search_field {
        border-left: 2px solid #0099ff !important;
        border-bottom: 2px solid #0099ff !important;
        border-top: 0;
        border-right: 0;
    }

    select {
        border: 0px;
        border-radius: 5px;
        outline: 0px;
    }

    input {
        border: 0px;
        border-radius: 5px;
        outline: 0px;
    }

    #pagination {
        display: inline-block;
    }

    #pagination span {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        cursor: pointer;
    }

    #pagination span.active {
        background-color: #4CAF50;
        color: white;
    }

    #pagination span:hover:not(.active) {
        background-color: #ddd;
    }

    #construction_status_trash_icon>i {
        margin-top: 0.8rem;
    }

    .search_modal {
        position: fixed;
        top: 100px;
        right: 0;
        left: auto;
        z-index: 1060;
        display: none;
        width: 50%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .fa-bookmark:hover {
        font-size: 24px;
        transition: transform 0.1s;
        /* Add smooth transition effect */
    }

    #location_search_bar {
        align-items: center;
        display: flex;
    }

    #search_by_place_label {
        width: 135px;
    }

    @media screen and (max-width: 412px) {
        #location_search_bar {
            align-items: center;
            display: block;
        }

        #search_by_place_label {
            width: auto;
        }

        .search_utils_btn button {
            width: 24%;
        }

        .search_utils_btn {
            margin-top: 10px;
        }

        #place_name {
            width: 100%;
        }
    }

    @media (min-width: 100px) and (max-width: 280px) {
        #location_search_bar {
            align-items: center;
            display: block;
        }

        #search_by_place_label {
            width: auto;
        }

        .search_utils_btn button {
            width: 100% !important;
        }

        .search_utils_btn button {
            margin-top: 5px;
        }

        .search_utils_btn {
            margin-top: 10px;
        }

        #place_name {
            width: auto;
        }
    }

    @media screen and (max-width: 540px) {
        #location_search_bar {
            align-items: center;
            display: block;
        }

        #search_by_place_label {
            width: auto;
        }

        .search_utils_btn button {
            width: 24%;
        }

        .search_utils_btn {
            margin-top: 10px;
        }

        #place_name {
            width: 100%;
        }
    }

    @media (min-width:540px) and (max-width: 820px) {
        #location_search_bar {
            align-items: center;
            display: flex;
        }

        #search_by_place_label {
            width: 140px;
        }

        .search_utils_btn button {
            width: 22%;
        }

        .search_utils_btn {
            margin-top: 10px;
        }
    }

    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }

        .p_type_btn {
            border-radius: 20px;
            border: 1px solid white;
            font-size: 15px;
            font-weight: 600;
        }
    }

    #popup_for_property {
        position: absolute;
        top: 80%;
        left: 80%;
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 100px;
        height: auto;
        overflow: auto;
        border-radius: 5px;
    }

    /* Custom styles for buttons */
    .custom-button {
        border-radius: 0;
        /* Reset border-radius */
    }

    /* Apply specific border-radius to first and last buttons */
    .custom-button:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .custom-button:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    .hidden {
        display: none;
    }

    .centered-text {
        text-align: center;
        line-height: 10px;
        /* Adjust this value to vertically center the text */
    }

    /* Modified checkbox */
    /* Hide the default checkbox */
    .container_check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .container_check {
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: relative;
        top: 8px;
        left: 0;
        height: 1.3em;
        width: 1.3em;
        background: #606062;
        border-radius: 7px;
        border-radius: 2px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0, 5);
    }

    /* When the checkbox is checked, add a blue background */
    .container_check input:checked~.checkmark {
        background-image: linear-gradient(#0099ff, #0099ff)
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container_check input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container_check .checkmark:after {
        left: 0.45em;
        top: 0.20em;
        width: 0.24em;
        height: 0.6em;
        border: solid white;
        border-width: 0 0.15em 0.15em 0;
        transform: rotate(45deg);
    }
</style>
<!-- Search Start -->
<div class="container-fluid bg-primary mb-4 wow fadeIn scroller_main w-100" data-wow-delay="0.1s" style="padding: 0px;">
    <div>
        <div class="scroller" style="overflow: auto; display:flex;">
            {% csrf_token %}
            <button class="btn btn-outline-primary text-white border-white p_type_btn scroller_1"
                onclick="move_applied_to_first(this); search_property_based_on_input_field_values();"
                style="margin:10px;" value="all">Clear</button>
            {% for i in boundry_data.property_type %}
            <button class="btn btn-outline-primary text-white border-white p_type_btn"
                onclick="move_applied_to_first(this); search_property_based_on_input_field_values(); "
                style="margin:10px;" id="{{i}}" value="{{i}}">{{i}}
            </button>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row mx-2">
    <div class="col-sm-12 col-md-12 col-lg-9">
        <div id="location_fltr">
            <div id="location_search_bar">
                <div style="overflow: auto; display: flex;">
                    <div class="col m-2">
                        <div class="d-flex flex-nowrap button-container">
                            <button class="btn btn-outline-primary custom-button centered-text sale_btn"
                                data-bs-toggle="pill" value="Sale" id="sell"
                                onclick="search_property_based_on_input_field_values(this, null);"
                                style="height:29px;">Sale</button>
                            <button class="btn btn-outline-primary custom-button centered-text sale_btn"
                                data-bs-toggle="pill" value="Rent" id="rent"
                                onclick="search_property_based_on_input_field_values(this, null);"
                                style="height:29px;">Rent</button>
                        </div>
                    </div>
                    <span id="main_container_filters" style="display: flex;">
                        <div style="width: auto; position:relative;" id="furnish_type__trash" class="col m-2 d-flex">
                            <select class="search_field" id="furnish_type"
                                onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                <option value="">Furnish type</option>
                                {% for i in boundry_data.furnish_type %}
                                <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: auto; position:relative;" id="construction_status__trash"
                            class="col m-2 d-flex">
                            <select class="search_field" id="construction_status"
                                onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                <option value="">Construction status</option>
                                {% for i in boundry_data.construction_status %}
                                <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: auto; position:relative;" id="bathroom_val__trash" class="col m-2 d-flex">
                            <select class="search_field" id="bathroom_val"
                                onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                <option value="">Bathrooms</option>
                                {% for i in boundry_data.bathroom_details %}
                                <option value="{{i}}">{{i}} Bathrooms</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: auto; position:relative;" id="balcony_val__trash" class="col m-2 d-flex">
                            <select class="search_field" id="balcony_val"
                                onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                <option value="">Balcony</option>
                                {% for i in boundry_data.balcony_details %}
                                <option value="{{i}}">{{i}} Balcony</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div style="width: auto; position:relative;" id="bhk_val__trash" class="col m-2 d-flex">

                            <select class="search_field" id="bhk_val"
                                onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                <option value="">BHK</option>
                                {% for i in boundry_data.bhk_details %}
                                <option value="{{i}}">{{i}} BHK</option>
                                {% endfor %}
                            </select>

                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 text-start text-lg-end slideInRight search_utils_btn align-left">
        <input type="text" id="place_name" placeholder="Enter Place Name" onkeyup="delay_search()" class="m-2"
            value="{{location_fetched}}">
    </div>
</div>
<div class="row m-2">
    <div class="col-md-12">
        <div class="tab-content mt-2">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4 property_counter">
                    {% block property %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
{% block user_profile_page %}

{% endblock %}
<center>
    <span id="pagination"></span>
    <div id="user_profile_modal" class="modal">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered custom-modal-size">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row px-5 py-2" style="height: 40%; border: 1px solid red;">
                        <div class="col-ms-12 col-md-5">search_property_based_on_input_field_values</div>
                        <div class="col-ms-12 col-md-7"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</center>
<!-- Modal for property details -->
<div class="modal fade" id="modal_for_property" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_for_property">
    Launch demo modal
</button>
<script>
    // code for call property data in home page 
    var is_profile_page = "{{ user_data.user_id }}";
    if (is_profile_page == "") {
        $(".scroller_1 ").click();
    }


    var saved_property_list = `{{ saved_property_list|safe }}`.toString();
    if (saved_property_list != "") {
        var saved_property_list = JSON.parse(saved_property_list.replace(/'/g, "\""));
    }
    var liked_property_list = `{{liked_property_list|safe}}`.toString();
    if (liked_property_list != "") {
        var liked_property_list = JSON.parse(liked_property_list.replace(/'/g, "\""));
    }
    console.log("Saved", saved_property_list);
    console.log("Liked", liked_property_list);
    var maxLength = 20;
    // focus and click to secondry nav bar 
    var elements = document.getElementsByClassName('p_type_btn');
    var requiredElement = elements[0];

    var totalPagesLength = 5;
    var pagescount = 0;

    setTimeout(function () {
        $(requiredElement).focus();
    }, 500);

    $('.saved_property').on('click', function () {
        $(this).toggleClass('fa-bookmark-o fa-bookmark');
    });

    // Search field is applied and trash button for this field is added 
    function search_field_applied(field) {
        var field_id = $(field).attr("id");
        if ($(document).hasClass(`${field_id}_trash_icon`)) {
            $(`#${field_id}_trash_icon`).remove();
        }
        if (field_id == "all_filter") {
            $(`#${field_id}__trash`).append(`
            <span style="margin-left:2px; position:absolute; right:0;" id="${field_id}_trash_icon" onclick="remove_filter_value(this);"> 
                <label class="container_check">
                <input checked="checked" type="checkbox">
                <div style="background-color:#0099ff; width:18px; height:18px; border-radius:20%; box-shadow:0 0 10px 0;"><b style="color:white; margin-left:4px; margin-top:0px;">x</b></div>
                </label> 
            </span>
        `);
        } else {
            $(`#${field_id}__trash`).append(`
            <span style="margin-left:2px; position:absolute; right:0;" id="${field_id}_trash_icon" onclick="remove_filter_value(this);"> 
                <label class="container_check">
                <input checked="checked" type="checkbox">
                <div style="background-color:#0099ff; width:18px; height:18px; border-radius:20%; box-shadow:0 0 10px 0;"><b style="color:white; margin-left:4px; margin-top:0px;">x</b></div>
                </label> 
            </span>
            `);
        }
    }

    // remove specific filter 
    function remove_filter_value(search_field) {
        var field_name = $(search_field).attr("id");
        real_field_name = field_name.replace("_trash_icon", "");
        $(`#${real_field_name}`).val("");
        search_property_based_on_input_field_values();
        $(`#${field_name}`).remove();
        var removed_filter_field = $(`#${real_field_name}__trash`);
        $("#main_container_filters").append(removed_filter_field);
    }

    var property_type_val = "";
    // search property as per field which is selected in advance filter 
    var seller_id = "";
    var property_counter = $(".property_counter");
    function search_property_based_on_input_field_values(selling_type = null, page_number = null, seller_id = null) {

        seller_id = seller_id
        var selling_option_val = "";
        if (selling_type != null) {
            selling_option_val = $(selling_type).val();
        }
        else {
            if ($("#sell").hasClass("active")) {
                selling_option_val = "Sell";
            }
            else if ($("#rent").hasClass("active")) {
                selling_option_val = "Rent";
            }
            else {
                selling_option_val = "All";
            }
        }
        var property_type = property_type_val;
        var place_name = $('#place_name').val() || "";
        var country = $('#country_based').val() || "";
        var state = $('#state_based').val() || "";
        var city = $('#city_based').val() || "";
        var construction_status = $('#construction_status').val() || "";
        var bathroom = $('#bathroom_val').val() || "";
        var balcony = $('#balcony_val').val() || "";
        var bhk = $("#bhk_val").val() || "";
        var furnish_type = $('#furnish_type').val() || "";
        var geography_area = $('#geography_val').val() || "";
        seller_id = sessionStorage.getItem("seller_id");
        var search_object = new Object();
        if (place_name != "") { search_object.place_name = place_name };
        if (property_type != "") { search_object.property_type = property_type };
        if (country != "") { search_object.country = country };
        if (state != "") { search_object.state = state };
        if (city != "") { search_object.city = city };
        if (construction_status != "") { search_object.construction_status = construction_status };
        if (bathroom != "") { search_object.bathroom = bathroom };
        if (balcony != "") { search_object.balcony = balcony };
        if (bhk != "") { search_object.bhk = bhk };
        if (furnish_type != "") { search_object.furnish_type = furnish_type };
        if (geography_area != "") { search_object.geography_area = geography_area };
        if (selling_option_val != "") { search_object.selling_option = selling_option_val };
        if (seller_id != null) { search_object.seller_id = seller_id };
        $.ajax({
            url: "{% url 'search_properties' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                "search_object": JSON.stringify(search_object),
                "page_number": page_number
            },
            success: function (data) {
                if (data != "None") {
                    sessionStorage.setItem("data", JSON.stringify(data));
                    has_next = data.has_next;
                    total_pages = data.total_pages;
                    // All other data will be declared above, except property data
                    property_data = data.search_results;
                    property_id = property_data["id"];
                    user_mobile = data.search_results.user_data;
                    property_data = property_data['property_data'];
                    var i = 0;
                    property_counter = $(".property_counter");
                    if (data.seller_id == true) {
                        property_counter = $("#property_counter");
                    }
                    $(property_counter).empty();
                    for (var [key, val] of Object.entries(property_data)) {
                        var is_bookmark = saved_property_list.includes(property_id[i].toString());
                        var bookmark_icon = `<i class="fa ${is_bookmark ? 'fa-bookmark' : 'fa-bookmark-o'} saved_property" aria-hidden="true" prop_id="${property_id[i]}" onclick="bookmark_property(this); $(this).toggleClass('fa-bookmark-o fa-bookmark');"></i>`;
                        var is_liked = liked_property_list == undefined ? false : liked_property_list.includes(property_id[i].toString());
                        var like_icon = `<i class="${is_liked ? 'fa-solid' : 'fa-regular'} fa-heart saved_property" aria-hidden="true" prop_id="${property_id[i]}" onclick="like_prperty(this); $(this).toggleClass('fa-solid fa-regular');"></i>`;
                        $(property_counter).append(` 
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="property-item rounded overflow-hidden border prop_item">
                            <div class="position-relative overflow-hidden"> 
                            <div id="carouselExampleControls${property_id[i]}" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <a href="/property_details/${property_id[i]}"><img class="img-fluid" style="width:100%; height: 190px;" src="${val.property_image[0]}" alt="" loading="lazy"></a>
                                    </div>
                                    ${val.property_image.slice(1).map(path => `
                                    <div class="carousel-item">
                                            <a href="/property_details/${property_id[i]}"><img class="d-block w-100" src="${path}" loading="lazy" style="width:100%; height: 190px;" loading="lazy"></a>
                                    </div>`).join('')} 
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls${property_id[i]}" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls${property_id[i]}" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                    </a>
                            </div>
                            <div
                                    class="bg-primary rounded-top text-light position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    ${val.property_type}</div>
                            </div>
                            <div class="p-3 pb-0 for_popup_box" style="position: relative;" id="modal__${property_id[i]}_popup"> 
                            <a class="d-block mb-2" href="property_details/${property_id[i]}" id="/Month">
                                    <h5 class="text-primary mb-2">$${val.property_rent_price}</h5>
                            </a>
                            <a class="d-block mb-2" href="property_details/${property_id[i]}">
                                    <b class="d-block h5 mb-2">${val.property_type} For
                                    ${val.selling_option}
                                    </b>
                            </a> 
                            <div style="display:flex;"> 
                            <p style="width:70%;">
                                    <i
                                    class="fa fa-map-marker text-primary me-2"></i>${val.property_address.slice(0, 10) + '...'}
                            </p> 
                            <p style="width:30%;">
                                    By<a href="/user-public-profile/${property_id[i]}">${JSON.parse(user_mobile[i]).user_name}</a> 
                            </p> 
                            </div>
                            </div>
                            <div class="d-flex border-top">
                            <small class="flex-fill text-center mt-1">
                                    <h5>
                                    <a href="tel:${JSON.parse(user_mobile[i]).user_mobile}"><i class="fa fa-phone"></i></a>
                                    </h5>
                            </small> 
                            <small class="flex-fill text-center mt-1">
                                    <h5> 
                                    ${like_icon}
                                    </h5>
                            </small>
                            <small class="flex-fill text-center mt-1">
                                    <h5>
                                    <i class="fa fa-share-alt" url="property_details/${property_id[i]}" onclick="openModal(this);"></i>
                                    </h5>
                            </small>
                            <small class="flex-fill text-center mt-1">
                                    <h5>
                                    ${bookmark_icon}
                                    </h5>
                            </small> 
                            <small class="flex-fill text-center mt-1">
                                    <h5>
                                    <i class="fa-solid fa-circle-info"
                                            onclick="toggle_property_popup('modal__${property_id[i]}_popup')"></i> 
                                    </h5> 
                            </small>
                            </div>
                    </div>
                    </div>
                    `);
                        i++;
                    }
                    if (has_next) {
                        $('#pagination').empty();
                        for (i = 1; i <= total_pages; i++) {
                            $('#pagination').append(`<span onclick = "search_property_based_on_input_field_values(null, ${i});" style="color:#0099ff;">${i}</span>`);
                        }
                    }
                }
                else {
                    $('#pagination').empty();
                    $(property_counter).empty();
                    $(property_counter).append("<h1>Result not found</h1>")
                }
            }
        });
    }

    function delay_search(search_delay_field = null) {
        // set spinner 
        $(property_counter).empty();
        $(property_counter).append(`
            <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="property-item rounded overflow-hidden border" style="height:300px !important;">
                    <div class="position-relative overflow-hidden"> 
                        <div class="spinner-border text-primary" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        `);
        setTimeout(function () {
            search_property_based_on_input_field_values(search_delay_field, null);
        }, 500);
    }
    function bookmark_property(property_id) {
        var property_id = $(property_id).attr("prop_id");
        $.ajax({
            url: "{% url 'bookmark_property_detail' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                'property_id': property_id,
            },
            success: function (response) {
                if (response == "Removed") {
                    toaster_call("Removed!")
                }
                else {
                    toaster_call("Saved!")
                }

            },
            error: function () {
                window.location.href = "/login";
            }
        });
    }
    function like_prperty(like) {
        let property_id = $(like).attr("prop_id");
        $.ajax({
            url: "{% url 'add_like_by_user' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                'property_id': property_id,
            },
            success: function (response) {
                if (response == "liked") {
                    $(like).addClass("fa-solid");
                    $(like).removeClass("fa-regular");
                    toaster_call("Liked!");
                }
                else {
                    $(like).addClass("fa-regular");
                    $(like).removeClass("fa-solid");
                }
            },
            error: function () {
                window.location.href = "/login";
            },
        });
    }
    $(".sale_btn").click(function () {
        $(".sale_btn").removeClass("active");
        $(this).toggleClass("active");
    });

    function move_applied_to_first(applied_filter) {

        property_type_val = applied_filter.value;
        if ($(applied_filter).hasClass("p_type_btn")) {
            if ($(applied_filter).text() != "Clear") {
                $(applied_filter).insertAfter(".scroller_1");
            }
        }
        else {
            var applied_filter = $(applied_filter).attr("id");
            $(`#${applied_filter}__trash`).prependTo("#main_container_filters");
        }
    }
    const navbar = $(".scroller_main");
    window.addEventListener("scroll", () => {
        if (window.scrollY > 40) {
            navbar.addClass("position-fixed top-0 z-index")
        }
        else (
            navbar.removeClass("position-fixed top-0 z-index")
        )
    })
</script>
{% endblock %}