{% extends 'theme/master.html' %}
{% load static %}
{% block main_content %}
<style>
    .p_type_btn {
        border-radius: 20px;
        border: 1px solid white;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
    }

    .p_type_btn:hover {
        background-color: white;
        color: black !important;
    }

    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
    }
</style>
<!-- Search Start -->
<div class="container-fluid bg-primary mb-4 wow fadeIn" data-wow-delay="0.1s" style="padding: 0px;">
    <div class="container">
        <div class="scroller" style="overflow: auto; display:flex;">
            {% csrf_token %}
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn"
                onclick="property_type_core(this);" style="margin:10px;" value="all">All
                Type</button>
            {% for i in boundry_data.property_type %}
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn"
                onclick="property_type_core(this);" style="margin:10px;" value="{{i}}">{{i}}</button>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row mx-2">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
        <ul class="nav nav-pills d-inline-flex justify-content-end mb-3">
            <li class="nav-item me-2 d-none">
                <button class="btn btn-outline-primary active" data-bs-toggle="pill" value="all" id="all"
                    onclick="search_property_based_on_input_field_values(this);">All</a>
            </li>
            <li class="nav-item me-2">
                <button class="btn btn-outline-primary" data-bs-toggle="pill" value="Sale" id="sell"
                    onclick="search_property_based_on_input_field_values(this);">For
                    Sale</button>
            </li>
            <li class="nav-item me-0">
                <button class="btn btn-outline-primary" data-bs-toggle="pill" value="Rent" id="rent"
                    onclick="search_property_based_on_input_field_values(this);">For
                    Rent</button>
            </li>
        </ul>
    </div>
</div>
<div class="row m-2">
    <div class="col-md-3">
        <h3>Filter properties by: </h3>
        <div id="advance_filter_container">
            <!-- filter using location -->
            <div class="filter_value" id="location_based">
                <h5>
                    <div class="border text-left p-2" data-toggle="collapse" data-target="#location_fltr"
                        aria-expanded="false" aria-controls="location_fltr" style="cursor: pointer;">
                        <b>Location</b>
                    </div>
                </h5>
                <div class="collapse show" id="location_fltr">
                    <div class="card card-body">
                        <div class="d-flex">
                            <div id="country_based__trash">
                                <select class="form-control selectpicker search_field" id="country_based"
                                    onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                    <option value="">Select Country</option>
                                    {% for i in country %}
                                    <option value="{{i.iso2}}">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div id="state_based__trash">
                                <select class="form-control mt-2 search_field" id="state_based"
                                    onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                    <option hidden>Select stateSelect stateSelect state</option>
                                    <option value="" selected>Select state</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div id="city_based__trash">
                                <select class="form-control mt-2 search_field" id="city_based"
                                    onchange="search_property_based_on_input_field_values();search_field_applied(this);">
                                    <option hidden>Select CitySelect CitySelect CitySelect City</option>
                                    <option value="" selected> Select City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- filter using construction status -->
            <h5>
                <div class="border text-left p-2" data-toggle="collapse" data-target="#construction_fltr"
                    aria-expanded="false" aria-controls="construction_fltr" style="cursor: pointer;">
                    <b>Construction status</b>
                </div>
            </h5>
            <div class="collapse" id="construction_fltr">
                <div class="card card-body">
                    <div class="d-flex">
                        <div id="construction_status__trash">
                            <select class="form-control mt-2 search_field" id="construction_status"
                                onchange="search_property_based_on_input_field_values();search_field_applied(this);"
                                onchange="search_field_applied(this);">
                                <option value="">Construction status</option>
                                {% for i in boundry_data.construction_status %}
                                <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- filter using bathroom count -->
            <h5>
                <div class="border text-left p-2" data-toggle="collapse" data-target="#bathroom_fltr"
                    aria-expanded="false" aria-controls="bathroom_fltr" style="cursor: pointer;">
                    <b>Bathrooms</b>
                </div>
            </h5>
            <div class="collapse" id="bathroom_fltr">
                <div class="card card-body">
                    <div id="bathroom_val__trash">
                        <select class="form-control mt-2 search_field" id="bathroom_val"
                            onchange="search_field_applied(this);">
                            <option value="">Bathrooms</option>
                            {% for i in boundry_data.bathroom_details %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <!-- filter using balcony count -->
            <h5>
                <div class="border text-left p-2" data-toggle="collapse" data-target="#balcony_fltr"
                    aria-expanded="false" aria-controls="balcony_fltr" style="cursor: pointer;">
                    <b>Balcony</b>
                </div>
            </h5>
            <div class="collapse" id="balcony_fltr">
                <div class="card card-body">
                    <div id="balcony_val__trash">
                        <select class="form-control mt-2 search_field" id="balcony_val"
                            onchange="search_field_applied(this);">
                            <option value="">Balcony</option>
                            {% for i in boundry_data.balcony_details %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <!-- filter using balcony count -->
            <h5>
                <div class="border text-left p-2" data-toggle="collapse" data-target="#bhk_fltr" aria-expanded="false"
                    aria-controls="bhk_fltr" style="cursor: pointer;">
                    <b>BHK</b>
                </div>
            </h5>
            <div class="collapse" id="bhk_fltr">
                <div class="card card-body">
                    <div id="bhk_val__trash">
                        <select class="form-control mt-2 search_field" id="bhk_val">
                            <option value="">BHK</option>
                            {% for i in boundry_data.bhk_details %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <!-- filter using furnish type -->
            <h5>
                <div class="border text-left p-2" data-toggle="collapse" data-target="#furnish_fltr"
                    aria-expanded="false" aria-controls="furnish_fltr" style="cursor: pointer;">
                    <b>Furnish type</b>
                </div>
            </h5>
            <div class="collapse" id="furnish_fltr">
                <div class="card card-body" id="furnish_fltr_val">
                    <div id="furnish_type__trash">
                        <select class="form-control mt-2 search_field" id="furnish_type">
                            <option value="">Furnish type</option>
                            {% for i in boundry_data.furnish_type %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <!-- filter using geography area -->
            <h5>
                <div class="border text-left p-2" data-toggle="collapse" data-target="#geography_fltr"
                    aria-expanded="false" aria-controls="geography_fltr" style="cursor: pointer;">
                    <b>Geography area</b>
                </div>
            </h5>
            <div class="collapse" id="geography_fltr">
                <div class="card card-body">
                    <div id="geography_val__trash">
                        <input type="number" class="form-control search_field" placeholder="2000Sq.ft"
                            id="geography_val" onchange="search_field_applied(this);">
                    </div>
                </div>
            </div>

            <!-- filter using price area -->
            <h5>
                <div class="border text-left p-2" data-toggle="collapse" data-target="#price_fltr" aria-expanded="false"
                    aria-controls="price_fltr" style="cursor: pointer;">
                    <b>Price between</b>
                </div>
            </h5>
            <div class="collapse" id="price_fltr">
                <div class="card card-body" id="price_fltr_val">
                    <label>To: </label>
                    <div id="start_price_val__trash">
                        <input type="number" placeholder="100" class="form-control search_field" id="start_price_val">
                    </div>
                    <label>From: </label>
                    <div id="end_price_val__trash">
                        <input type="number" placeholder="1000" class="form-control search_field" id="end_price_val">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4 property_counter">
                    {% block property %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
<script>

    // search by property type 
    function property_type_core(property_type) {
        var property_type = $(property_type).val();
        $.ajax({
            url: "{% url 'search_property_type' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                "data": property_type
            },
            success: function (data) {
                if (Object.keys(data).length != 0) {
                    $(".property_counter").empty();
                    for (var [key, val] of Object.entries(data)) {
                        $(".property_counter").append(` 
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href=""><img class="img-fluid" src="${val.property_image[0]}" alt=""></a>
                                    <div
                                        class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                        For ${val.selling_option}</div>
                                    <div
                                        class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                        ${val.property_type}</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">${val.property_rent_price}/Month</h5>
                                    <a class="d-block h5 mb-2" href="">${val.property_type}, For ${val.selling_option}</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>${val.property_address}</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-ruler-combined text-primary me-2"></i>${val.geography_area}</small>
                                    <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-bed text-primary me-2"></i>${val.construction_status}</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>${val.property_age} Year old</small>
                                </div>
                            </div>
                        </div>
                        `)
                    }
                }
                else {
                    $(".property_counter").empty();
                    $(".property_counter").append("<h1>Result not found</h1>")
                }
            }
        })
    }

    // Search field is applied and trash button for this field is added 
    function search_field_applied(field) {
        var field_id = $(field).attr("id");
        if (`${field_id}_trash_icon`) {
            $(`#${field_id}_trash_icon`).remove();
        }
        $(`#${field_id}__trash`).after(`
        <span class="mx-2 my-2" id="${field_id}_trash_icon" onclick="remove_filter_value(this);"> 
            <i class="fa fa-trash" aria-hidden="true"></i>
        </span>
        `);
    }

    // remove specific filter 
    function remove_filter_value(search_field) {
        var field_name = $(search_field).attr("id");
        real_field_name = field_name.replace("_trash_icon", "");
        $(`#${real_field_name}`).val("");
        search_property_based_on_input_field_values();
        //
        $(`#${field_name}`).remove();
    }

    // search property as per field which is selected in advance filter 
    function search_property_based_on_input_field_values(selling_type = null) {
        var selling_option_val = "";
        if (selling_type != null) {
            selling_option_val = $(selling_type).val();
        }
        else {
            if ($("#sell").hasClass("active")) {
                selling_option_val = "Sell";
            }
            else if ($("#rent").hasClass("active")) {
                selling_option_val = "Rent";
            }
        }
        var country = $('#country_based').val() || "";
        var state = $('#state_based').val() || "";
        var city = $('#city_based').val() || "";
        var construction_status = $('#construction_status').val() || "";
        var bathroom = $('#bathroom_val').val() || "";
        var balcony = $('#balcony_val').val() || "";
        var bhk = $("#bhk_val").val() || "";
        var furnish_type = $('#furnish_type').val() || "";
        var geography_area = $('#geography_val').val() || "";

        var search_object = new Object();
        if (country != "") { search_object.country = country };
        if (state != "") { search_object.state = state };
        if (city != "") { search_object.city = city };
        if (construction_status != "") { search_object.construction_status = construction_status };
        if (bathroom != "") { search_object.bathroom = bathroom };
        if (balcony != "") { search_object.balcony = balcony };
        if (bhk != "") { search_object.bhk = bhk };
        if (furnish_type != "") { search_object.furnish_type = furnish_type };
        if (geography_area != "") { search_object.geography_area = geography_area };
        if (selling_option_val != "") { search_object.selling_option = selling_option_val };

        $.ajax({
            url: "{% url 'search_properties' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                "search_object": JSON.stringify(search_object),
            },
            success: function (property_data) {
                var i = 0;
                property_id = property_data["id"];
                property_data = property_data['property_data'];
                console.log(property_data);
                if (property_data) {
                    $(".property_counter").empty();
                    for (var [key, val] of Object.entries(property_data)) {
                        console.log(property_id[i]);
                        $(".property_counter").append(` 
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="/property_details/${property_id[i]}"><img class="img-fluid" src="${val.property_image[0]}" alt=""></a>
                                    <div
                                        class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                        For ${val.selling_option}</div>
                                    <div
                                        class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                        ${val.property_type}</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">${val.property_rent_price}/Month</h5>
                                    <a class="d-block h5 mb-2" href="">${val.property_type}, For ${val.selling_option}</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>${val.property_address}</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-ruler-combined text-primary me-2"></i>${val.geography_area}</small>
                                    <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-bed text-primary me-2"></i>${val.construction_status}</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>${val.property_age} Year old</small>
                                </div>
                            </div>
                        </div>
                        `);
                        i++;
                    }
                }
                else {
                    $(".property_counter").empty();
                    $(".property_counter").append("<h1>Result not found</h1>")
                }
            }
        });
    }

    $(document).ready(function (e) {

        // advance filter configuration by country 
        $('#country_based').change(function (e) {
            //alert("Clikced!"); 
            e.preventDefault();
            var country_name = $(this).val();
            //alert(country_name); 
            //var data_target = $(property).text();
            $.ajax({
                url: "{% url 'state_list' %}",
                type: "GET",
                data: {
                    'country_name': country_name,
                },
                success: function (property_data) {
                    $("#state_based").empty();
                    $('#state_based').append(`<option value="">Select state</option>`);
                    $('#state_based').append(`<option hidden>Select stateSelect stateSelect state</option>`);
                    property_data = JSON.parse(property_data)
                    for (let [key, value] of Object.entries(property_data)) {
                        $('#state_based').append(`<option value="${value.iso2}">${value.name}</option>`);
                    }
                }
            });
        });

        // advance filter configuration by state 
        $('#state_based').change(function (e) {
            //alert("Clikced!"); 
            e.preventDefault();
            var country_name = $("#country_based").val();
            var state_name = $(this).val();
            $.ajax({
                url: "{% url 'city_list' %}",
                type: "GET",
                data: {
                    'state_name': state_name,
                    'country_name': country_name,
                },
                success: function (property_data) {
                    $("#city_based").empty();
                    $('#city_based').append(`<option value="">Select City</option>`);
                    $('#city_based').append(`<option hidden>Select stateSelect stateSelect state</option>`);
                    property_data = JSON.parse(property_data)
                    for (let [key, value] of Object.entries(property_data)) {
                        $('#city_based').append(`<option value="${value.name}">${value.name}</option>`);
                    }
                }
            });
        });
    });
</script>
{% endblock %}