{% extends 'theme/master.html' %}
{% block add_property_details %}active{% endblock %}
{% block main_content %} 
<style>
    .p_type_btn {
        border-radius: 20px;
        border: 1px solid white;
        padding: 10px;
        font-size: 15px;
        font-weight: 600; 
        background-color: skyblue;
        color: black !important;
    }

    .p_type_btn:hover {
        background-color: white;
        color: black !important;
    }

    .active_btn{
        background-color: aliceblue;
        color: #0099ff !important;
    }
    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
    }
</style>
<div class="container-fluid bg-primary mb-4 wow fadeIn" data-wow-delay="0.1s" style="padding: 0px;">
    <div class="container">
        <div class="scroller" style="overflow: auto; display:flex;"> 
            <button class="col-md-2 btn p_type_btn btn-outline-primary text-white border-white add_property_page" style="margin:10px;" value="all"><a href="{% url 'add_property_details' %}">Add new property</a></button>
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn dashboard_page" style="margin:10px;" value="all"><a href="{% url 'dashboard' %}">Property dashboard</a></button> 
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn property_table" style="margin:10px;">
                <a href="{% url 'prop_table' %}">Property list</a></button>
        </div>
    </div>
</div>
<div class="text-center">
    <h1>Property Table</h1>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <!-- <th scope="col">Property Index</th> -->
            <th scope="col">Property type</th>
            <th scope="col">Selling Option</th>
            <th scope="col">Property age</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <!-- <th scope="row">{{count}}</th> -->
            <td>{{i.property_data.property_type}}</td>
            <td>{{i.property_data.selling_option}}</td>
            <td>{{i.property_data.property_age}}</td>
            <td><a href="delete_property_record/{{i.id}}">
                    <i class="mdi mdi-delete h2" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                </a>
            </td>
            <td>
                <a href="update_property_record/{{i.id}}">
                    <i class="mdi mdi-tooltip-edit h2" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Edit"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table> 
<script>
    var page_name = "{{property_table}}"; 
     
    if (page_name == "property_table"){
        $(".property_table").addClass("active_btn"); 
    }
</script>
{% endblock %}