{% extends 'theme/master.html' %}
{% load static %}
{% block main_content %}

<!-- Search Start -->
<!-- <div class="row text-center p-2">
    <marquee direction="left" behavior="scroll" scrollamount="3">
        <h2 style="color:#0099ff !important;">Category</h2>
    </marquee>
</div> -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-10">
                <div class="row g-2">
                    <div class="col-md-4">
                        <input type="text" class="form-control border-0 py-3" placeholder="Search Keyword">
                    </div>
                    <div class="col-md-4">
                        <select class="form-select border-0 py-3">
                            <option selected>Property Type</option>
                            <option value="1">Property Type 1</option>
                            <option value="2">Property Type 2</option>
                            <option value="3">Property Type 3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select border-0 py-3">
                            <option selected>Location</option>
                            <option value="1">Location 1</option>
                            <option value="2">Location 2</option>
                            <option value="3">Location 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark border-0 w-100 py-3">Search</button>
            </div>
            <div class="col-md-12">
                <a href="{% url 'dashboard' %}" class="btn btn-dark border-0 w-100 py-3">Add Properties | Click
                    Here!</a>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
<!-- Property List Start -->
<div class="container-xxl">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3" id="property_type">{{property_type}}</h1>
                    <p>Here you can filter with for sell or rent.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <button class="btn btn-outline-primary active" data-bs-toggle="pill" value="all"
                            id="all">All</a>
                    </li>
                    <li class="nav-item me-2">
                        <button class="btn btn-outline-primary" data-bs-toggle="pill" value="Sale" id="sell">For
                            Sale</button>
                    </li>
                    <li class="nav-item me-0">
                        <button class="btn btn-outline-primary" data-bs-toggle="pill" value="Rent" id="rent">For
                            Rent</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4" id="filtered">
                    {% for i in data %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="/property_details/{{i.id}}"><img class="img-fluid"
                                        src="{{i.property_data.property_image|last}}" alt=""></a>
                                <div
                                    class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    For {{i.property_data.selling_option}}</div>
                                <div
                                    class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    {{i.property_data.property_type}}</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">
                                    {% if i.property_data.selling_option == "Rent" %}

                                    {{i.property_data.property_rent_price}}/Month

                                    {% else %}

                                    {{i.property_data.property_value}}

                                    {% endif %}

                                </h5>
                                <a class="d-block h5 mb-2" href="">{{i.property_data.property_type}}</a>
                                <p><i
                                        class="fa fa-map-marker-alt text-primary me-2"></i>{{i.property_data.property_address}}
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-ruler-combined text-primary me-2"></i>{{i.property_data.geography_area}}
                                    Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-bed text-primary me-2"></i>{{i.property_data.construction_status}}</small>
                                <small class="flex-fill text-center py-2"><i
                                        class="fa fa-bath text-primary me-2"></i>{{i.property_data.property_age}} Year
                                    old</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'theme/img/about.jpg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
                <p class="mb-4">Here You can find home and many more!</p>
                <p><i class="fa fa-check text-primary me-3"></i>Find</p>
                <p><i class="fa fa-check text-primary me-3"></i>Sell</p>
                <p><i class="fa fa-check text-primary me-3"></i>Rent</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% csrf_token %}

<!-- javaScript code -->

<script>

    $("#sell, #rent, #all").click(function () {
        $("#filtered").empty();
        var selling_option = $(this).val();
        var property_type = $("#property_type").text();
        $.ajax({
            url: "{% url 'property_sell_option_wise' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                'selling_option': selling_option,
                'property_type': property_type
            },
            success: function (response) {
                //alert("Hello, world!"); 
                var response_array = [response]
                data = JSON.parse(response)
                data = data['data']
                for (let [key, value] of Object.entries(data)) {
                    if (value.selling_option == "Rent") {
                        property_value = value.property_rent_price + "/Month"
                    }
                    else {
                        property_value = value.property_value
                    }
                    var prop_design = ""
                    //console.log(key, value.property_type);
                    $("#filtered").append(
                        `<div class="col-lg-4 col-md-6 wow fadeInUp filtered_data" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="`+ '/property_details/' + key + `"><img class="img-fluid" src="` + value.property_image.at(-1) + `"
                                                alt=""></a> 
                                        <div 
                                            class="selling_option bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                            For `+ value.selling_option + `</div>
                                        <div
                                            class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            `+ value.property_type + `</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">`+ property_value + `</h5>
                                        <a class="d-block h5 mb-2" href="">`+ value.property_type + `</a>
                                        <p><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>`+ value.property_address + `
                                        </p> 
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-ruler-combined text-primary me-2"></i>`+ value.geography_area + `
                                            Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-bed text-primary me-2"></i>`+ value.construction_status + `</small>
                                        <small class="flex-fill text-center py-2"><i
                                                class="fa fa-bath text-primary me-2"></i>`+ value.property_age + `
                                            Year old</small>
                                    </div>
                                </div>
                                </div>`
                    );
                }

            },
            error: function (response) {
                alert("Error Occured");
            }
        });

    }); 
</script>
{% endblock %}