{% extends 'theme/master.html' %}
{% load static %}
{% block main_content %}
<style>
    #main {
        word-wrap: break-word;
    }

    #prop_a {
        width: 100%;
        height: 430px;
    }

    #prop_img {
        border: 1px solid #0099ff;
        height: 50px;
    }

    #prop_span {
        width: 60px;
    }

    #prop_table_detail {
        text-align: center;
        margin-right: auto;
    }

    #prop_parent {
        text-align: center;
    }

    #contect_icon {
        margin: auto;
    }

    #similar_prop_btn {
        height: 300px !important;
    }

    #item_a {
        width: 100%;
        height: 190px;
    }

    #filtered_append {
        height: 300px !important;
    }

    #prop_span img {
        cursor: pointer;
        border-radius: 5px;
    }

    #prop_span img:hover {
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #0099ff;
    } 
    @media screen and (max-width: 412px) {
        #main .col-md-7 {
            padding: 0% !important;
        } 
    }
</style> 
<!-- Property List Start -->
<div class="container-xxl mt-5">
    <div class="">
        <div class="row" id="main">
            <div class="col-md-7 p-5 pt-0 pb-0">
                <div class="div">
                    <div class="carousel-item active pr-0">
                        {% if data.property_image %}
                        <a href="#"><img class="img-fluid d-block w-100 main_image" id="prop_a"
                                src="{{data.property_image|first}}" alt=""></a>
                        <div class="row m-1" id="image_gallary">
                            {% for i in data.property_image %}
                            <span class="p-1 pt-3" id="prop_span">
                                <img class="img-fluid" src="{{i}}" alt="" id="prop_img">
                            </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <b>Image is not available</b>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 p-3 pt-0 pb-0">
                <div class="row" id="prop_table_detail">
                    <div class="col-md-12">
                        <div class="row" id="prop_parent">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <b>{{data.property_type}}</b>
                                    </div>
                                    <div class="col-4">
                                        {{data.property_age}} - <b>Year Old</b>
                                    </div>
                                    <div class="col-4">
                                        <b>For </b>- {{data.selling_option}}
                                    </div>
                                    <hr>
                                    <div class="col-4">
                                        {{data.floor}} - <b>Floor</b>
                                    </div>
                                    <div class="col-4">
                                        {{data.bhk}} - <b>B.H.K.</b>
                                    </div>
                                    <div class="col-4">
                                        {{data.bathroom}} - <b>Bathroom</b>
                                    </div>
                                    <hr>
                                    <div class="col-4">
                                        {{data.balcony}} - <b>Balcony</b>
                                    </div>
                                    <div class="col-4">
                                        <b>{{data.furnish_type}}
                                        </b>
                                    </div>
                                    <div class="col-4">
                                        <b>{{data.geography_area}} Sqft.</b>
                                    </div>
                                    <hr>
                                    <div class="col-4">
                                        <b>{{data.parking_type}}</b>
                                    </div>
                                    <div class="col-4">
                                        {% if data.selling_option == "Rent" %}
                                        <b>{{data.property_rent_price}}/Month</b>
                                        {% else %}
                                        <b>{{data.property_value}}
                                        </b>
                                        {% endif %}
                                    </div>
                                    <hr>
                                    <div class="col-12">
                                        From <b>{{data.from_avail_property_date}}</b> Property will be avilable
                                    </div>
                                    <hr>
                                    <div class="col-sm-12">
                                        <span><b>Property address: </b></span>
                                        {{data.property_address}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-3">
                                        <span id="{{i.id}}">
                                            <h5 class="icon_form_contact" id="contect_icon"><i
                                                    class="fa fa-phone text-white mt-1" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Tooltip on top"></i></h5>
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span id="{{property_id}}" onclick="bookmark_property(this);">
                                            <h5 class="icon_form_contact" id="contect_icon"><i
                                                    class="fa fa-bookmark-o text-white mt-1" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Tooltip on top"></i></h5>
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span onclick="openModal(this);" url="property_details/{{property_id}}">
                                            <h5 class="icon_form_contact" id="contect_icon"><i
                                                    class="fa fa-share-alt text-white mt-1" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Tooltip on top"></i></h5>
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span id="{{i.id}}" onclick="bookmark_property(this);">
                                            <h5 class="icon_form_contact" id="contect_icon"><i
                                                    class="fa fa-comment fa-beat text-white mt-1"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    data-bs-title="Tooltip on top"></i></h5>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal sets -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn btn-outline-primary close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-body saller_data_card">Something Went Wrong!</div>
                <div class="row text-left saller_data_field">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" onclick="submit_dtl(this);"
                    id="submit_btn_dc">Submit</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container container-fluid">
    <div class="tab-content mt-5">
        <div class="abc">
            <h1>
                More Similar Properties
            </h1>
        </div>
        <div id="tab-1" class="tab-pane fade show p-0 active mt-3">
            <div class="row g-4" id="filtered">
                {% for property in property_data %}
                <!-- {{property.id}} -->
                <div class="col-lg-3 col-md-6 wow fadeInUp filtered_data" data-wow-delay="0.1s">
                    <div class="property-item rounded overflow-hidden border" id="similar_prop_btn">
                        <div class="position-relative overflow-hidden">
                            <div id="carouselExampleControlsNoTouching{{property.id}}" class="carousel slide"
                                data-bs-touch="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="/property_details/{{property.id}}"><img class="img-fluid d-block w-100"
                                                id="item_a" src="{{property.property_data.property_image|first}}"
                                                alt=""></a>
                                    </div>
                                    {% if property.property_data.property_image %}
                                    {% for j in property.property_data.property_image|slice:"1:"%}
                                    <div class="carousel-item">
                                        <a href="property_details/{{property.id}}"><img class="img-fluid d-block w-100"
                                                id="item_a" src="{{j}}" alt=""></a>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <b>Image is not available</b>
                                    {% endif %}
                                </div>
                                <b>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching{{property.id}}"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                </b>
                                <b>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching{{property.id}}"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </b>
                            </div>
                            <div
                                class="selling_option bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                For {{property.property_data.selling_option}}</div>
                            <div
                                class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                {{property.property_data.property_type}}</div>
                        </div>
                        <div class="p-2 pb-0">
                            <a href="property_details/{{property.id}}">
                                <span class="text-primary mb-3">
                                    {% if property.property_data.selling_option == "Rent" %}

                                    {{property.property_data.property_rent_price}}/Month

                                    {% else %}

                                    {{property.property_data.property_value}}

                                    {% endif %}

                                </span>
                            </a>
                            <a class="d-block mb-2 text-dark"
                                href="property_details/{{property.id}}">{{property.property_data.property_type}} For
                                {{property.property_data.selling_option}}
                            </a>
                            <a href="property_details/{{property.id}}">
                                <i class="fa fa-map-marker-alt text-primary me-2"></i>
                                <span class="property_address">
                                    {{property.property_data.property_address|truncatechars:20}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                    <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'theme/img/about.jpg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
                <p class="mb-4">Here You can find home and many more!</p>
                <p><i class="fa fa-check text-primary me-3"></i>Find</p>
                <p><i class="fa fa-check text-primary me-3"></i>Sell</p>
                <p><i class="fa fa-check text-primary me-3"></i>Rent</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% csrf_token %}

<!-- javaScript code -->

<script>
    function submit_dtl(p_dtl_btn_val) {
        var p_dtl_btn_val = $(p_dtl_btn_val).attr("id");
        var property_id = '{{ property_id }}';
        var sender_name = $(".modal-body input:eq(0)").val();
        var sender_mobile = $(".modal-body input:eq(1)").val();
        var sender_email = $(".modal-body input:eq(2)").val();
        var description = $(".modal-body textarea").val();

        $.ajax({
            url: "{% url 'user_all_detais' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                'property_id': property_id,
                'sender_name': sender_name,
                'sender_mobile': sender_mobile,
                'sender_email': sender_email,
                'description': description,
                'p_dtl_btn_val': p_dtl_btn_val
            },
            success: function (response) {
                //console.log(response);
                $(".modal-body").empty();
                $(".modal-body").append(`
                    <div class="col-12 mt-2"> 
                        <h3>Your inquiry is sent!</h3>
                    </div>
                    `)
                location.reload();
            },
            error: function (response) {
                //console.log("Error Occured");
            },
        });
    }
    $("#sell, #rent, #all").click(function () {
        $("#filtered").empty();
        var selling_option = $(this).val();
        var property_type = $("#property_type").text();
        $.ajax({
            url: "{% url 'property_sell_option_wise' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                'selling_option': selling_option,
                'property_type': property_type
            },
            success: function (response) {
                //alert("Hello, world!"); 
                var response_array = [response]
                data = JSON.parse(response)
                data = data['data']
                for (let [key, value] of Object.entries(data)) {
                    if (value.selling_option == "Rent") {
                        property_value = value.property_rent_price + "/Month"
                    }
                    else {
                        property_value = value.property_value
                    }
                    var prop_design = ""
                    //console.log(key, value.property_type);
                    $("#filtered").append(
                        `<div class="col-lg-4 col-md-6 wow fadeInUp filtered_data" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden border" id="filtered_append">
                                    <div class="position-relative overflow-hidden">
                                        <a href=""><img class="img-fluid" src="`+ value.property_image.at(-1) + `"
                                                alt=""></a>
                                        <div
                                            class="selling_option bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                            For `+ value.selling_option + `</div>
                                        <div
                                            class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            `+ value.property_type + `</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">`+ property_value + `</h5>
                                        <a class="d-block h5 mb-2" href="">`+ value.property_type + `</a>
                                        <p><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>`+ value.property_address + `
                                        </p> 
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-ruler-combined text-primary me-2"></i>`+ value.geography_area + `
                                            Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-bed text-primary me-2"></i>`+ value.construction_status + `</small>
                                        <small class="flex-fill text-center py-2"><i
                                                class="fa fa-bath text-primary me-2"></i>`+ value.property_age + `
                                            Year old</small>
                                    </div>
                                </div>
                                </div>`
                    );
                }

            },
            error: function (response) {
                alert("Error Occured");
            }
        });

    });
    $("#image_gallary").click(function () {
        $("img").click(function () {
            var tag_name = $(this).prop("tagName");
            if (tag_name == "IMG") {
                var img_src = $(this).attr("src");
                $(".main_image").attr("src", img_src);
            }
        });
    }); 
</script>
{% endblock %}