{% extends 'theme/master.html' %}
{% load static %}
{% block main_content %}
<style>
    #main {
        word-wrap: break-word;
    }

    #prop_img {
        border: 1px solid #0099ff;
        height: 50px;
    }

    #prop_span {
        width: 60px;
    }

    #prop_table_detail {
        text-align: center;
        margin-right: auto;
    }

    #prop_parent {
        text-align: center;
    }

    #contect_icon {
        margin: auto;
    }

    #similar_prop_btn {
        height: 300px !important;
    }

    #item_a {
        width: 100%;
        height: 190px;
    }

    #filtered_append {
        height: 300px !important;
    }

    #prop_span img {
        cursor: pointer;
        border-radius: 5px;
    }

    #prop_span img:hover {
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #0099ff;
    }

    @media screen and (max-width: 412px) {
        #main .col-md-7 {
            padding: 0% !important;
        }
    }

    .main_image {
        height: 360px !important;
    }

    .picture_label {
        right: 20px;
        bottom: 10px;
        width: 100px;
        height: 29px;
        margin: auto;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: whitesmoke;
        padding: 2px;
        cursor: pointer;
    }

    .picture_label:hover {
        right: 20px;
        bottom: 10px;
        width: 100px;
        height: 29px;
        margin: auto;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: #0099ff;
        color: white;
        padding: 2px;
        cursor: pointer;
    }

    .img_in_modal {
        height: 60px;
        width: 60px;
        padding: 5px;
        border: 2px solid #0099ff !important;
    }

    .modal-footer {
        justify-content: center;
    }

    .image_modal_container {
        max-height: 505px;
    }

    .selling_option_details_for_rate {
        display: inline;
    }
</style>
<!-- Property List Start -->
<div class="row p-5">
    <div class="col-12">
        <div class="row border border-primary shadow-lg bg-body-tertiary rounded">
            <div class="col-sm-12 col-md-5 col-lg-5 position-relative">
                <img class="img-fluid d-block main_image p-2" id="prop_a" src="" alt="">
                <span class="position-absolute picture_label" data-bs-toggle="modal"
                    data-bs-target="#modal_for_large_picture" onclick="picture_show_in_modal();">More Images</span>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 mt-3">
                <h4>
                    <span class="bhk_details"></span>
                    <span class="geography_area_details"></span>
                    <span class="property_type_details"></span>
                    <span class="selling_option_details"></span>
                    <span class="property_address_details"></span>
                </h4>
                <hr>
                <h5><i class="fa-solid fa-location-dot text-primary"></i> <span class="property_address_details"></span>
                </h5>
                <hr>
                <h6 class="selling_option_details_for_rate"><b class="selling_value"></b></h6>
                <hr>
                <i url="property_details/2" onclick="openModal(this);" style="font-style:normal;">
                    <i class="fa fa-share-alt text-primary" aria-hidden="true"></i>&nbsp;Share this property
                </i>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <i style="font-style:normal;">
                    <i class="fa-solid fa-circle-info text-primary"></i> Property
                    Feedback
                </i>
                <hr>
                <div class="row p-2">
                    <a class="col-md-3 m-1 btn btn-outline-primary contact_no">
                        <b><i class="fa fa-phone" aria-hidden="true"></b></i>&nbsp;Contact No.
                    </a>
                    <button class="col-md-3 m-1 btn btn-outline-danger">
                        <b><i class="fa-regular fa-envelope"></i></b>&nbsp;Enquiry Now
                    </button>
                    <a class="col-md-3 m-1 btn btn-outline-success whatsapp">
                        <b><i class="fa-brands fa-whatsapp"></i></b>&nbsp;WhatsApp Chat
                    </a>
                    <a class="col-md-2 m-1 btn btn-primary user_profile">
                        <b><i class="fa-regular fa-user"></i></i></b>&nbsp;Profile
                    </a>
                </div>
            </div>
        </div>

        <div class="row border border-primary shadow-lg bg-body-tertiary rounded mt-5">
            <h2 class="p-3">Other details related to property</h2>
            <br>
            <div class="col-sm-12">
                <div class="row box_data p-3">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container container-fluid">
    <div class="tab-content mt-5">
        <div class="abc">
            <h1>
                More Similar Properties
            </h1>
        </div>
        <div id="tab-1" class="tab-pane fade show p-0 active mt-3">
            <div class="row g-4" id="filtered">
                {% for property in property_data %}
                <!-- {{property.id}} -->
                <div class="col-lg-3 col-md-6 wow fadeInUp filtered_data" data-wow-delay="0.1s">
                    <div class="property-item rounded overflow-hidden border" id="similar_prop_btn">
                        <div class="position-relative overflow-hidden">
                            <div id="carouselExampleControlsNoTouching{{property.id}}" class="carousel slide"
                                data-bs-touch="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="/property_details/{{property.id}}"><img class="img-fluid d-block w-100"
                                                id="item_a" src="{{property.property_data.property_image|first}}"
                                                alt=""></a>
                                    </div>
                                    {% if property.property_data.property_image %}
                                    {% for j in property.property_data.property_image|slice:"1:"%}
                                    <div class="carousel-item">
                                        <a href="property_details/{{property.id}}"><img class="img-fluid d-block w-100"
                                                id="item_a" src="{{j}}" alt=""></a>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <b>Image is not available</b>
                                    {% endif %}
                                </div>
                                <b>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching{{property.id}}"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                </b>
                                <b>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching{{property.id}}"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </b>
                            </div>
                            <div
                                class="selling_option bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                For {{property.property_data.selling_option}}</div>
                            <div
                                class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                {{property.property_data.property_type}}</div>
                        </div>
                        <div class="p-2 pb-0">
                            <a href="property_details/{{property.id}}">
                                <span class="text-primary mb-3">
                                    {% if property.property_data.selling_option == "Rent" %}

                                    {{property.property_data.property_rent_price}}/Month

                                    {% else %}

                                    {{property.property_data.property_value}}

                                    {% endif %}

                                </span>
                            </a>
                            <a class="d-block mb-2 text-dark"
                                href="property_details/{{property.id}}">{{property.property_data.property_type}} For
                                {{property.property_data.selling_option}}
                            </a>
                            <a href="property_details/{{property.id}}">
                                <i class="fa fa-map-marker-alt text-primary me-2"></i>
                                <span class="property_address">
                                    {{property.property_data.property_address|truncatechars:20}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                    <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'theme/img/about.jpg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
                <p class="mb-4">Here You can find home and many more!</p>
                <p><i class="fa fa-check text-primary me-3"></i>Find</p>
                <p><i class="fa fa-check text-primary me-3"></i>Sell</p>
                <p><i class="fa fa-check text-primary me-3"></i>Rent</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_for_large_picture" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="row p-3">
                <span class="mt-3 image_modal_container" style="width: 8% !important; overflow-x: auto;">
                </span>
                <div class="modal-body modal_wrapper_in_large" style="width: 92% !important;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% csrf_token %}

<!-- javaScript code -->
<script>
    const name_to_icon = {
        "bhk": `<i class='fa-solid fa-bed text-primary'></i>`,
        "floor": `<i class="fa-solid fa-building text-primary"></i>`,
        "balcony": `<i class="fa-solid fa-mountain-city text-primary"></i>`,
        "bathroom": `<i class="fa-solid fa-bath text-primary"></i>`,
        "furnish_type": `<i class="fa-solid fa-chair text-primary"></i>`,
        "parking_type": `<i class="fa-solid fa-square-parking text-primary"></i>`,
        "property_age": `<i class="fa-solid fa-calendar-days text-primary"></i>`,
        "property_type": `<i class="fa-solid fa-house-flag text-primary"></i>`,
        "geography_area": `<i class="fa-solid fa-chart-area text-primary"></i>`,
        "selling_option": `<i class="fa-solid fa-cart-arrow-down text-primary"></i>`,
        "construction_status": `<i class="fa-solid fa-signal text-primary"></i>`,
        "property_description": `<i class="fa-solid fa-align-center text-primary"></i>`,
    };
    show_property_modal("{{property_id}}")
    function submit_dtl(p_dtl_btn_val) {
        var p_dtl_btn_val = $(p_dtl_btn_val).attr("id");
        var property_id = '{{ property_id }}';
        var sender_name = $(".modal-body input:eq(0)").val();
        var sender_mobile = $(".modal-body input:eq(1)").val();
        var sender_email = $(".modal-body input:eq(2)").val();
        var description = $(".modal-body textarea").val();

        $.ajax({
            url: "{% url 'user_all_detais' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                'property_id': property_id,
                'sender_name': sender_name,
                'sender_mobile': sender_mobile,
                'sender_email': sender_email,
                'description': description,
                'p_dtl_btn_val': p_dtl_btn_val
            },
            success: function (response) {
                //console.log(response);
                $(".modal-body").empty();
                $(".modal-body").append(`
                    <div class="col-12 mt-2"> 
                        <h3>Your inquiry is sent!</h3>
                    </div>
                    `)
                location.reload();
            },
            error: function (response) {
                //console.log("Error Occured");
            },
        });
    }
    $("#sell, #rent, #all").click(function () {
        $("#filtered").empty();
        var selling_option = $(this).val();
        var property_type = $("#property_type").text();
        $.ajax({
            url: "{% url 'property_sell_option_wise' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                'selling_option': selling_option,
                'property_type': property_type
            },
            success: function (response) {
                //alert("Hello, world!"); 
                var response_array = [response]
                data = JSON.parse(response)
                data = data['data']
                for (let [key, value] of Object.entries(data)) {
                    if (value.selling_option == "Rent") {
                        property_value = value.property_rent_price + "/Month"
                    }
                    else {
                        property_value = value.property_value
                    }
                    var prop_design = ""
                    //console.log(key, value.property_type);
                    $("#filtered").append(
                        `<div class="col-lg-4 col-md-6 wow fadeInUp filtered_data" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden border" id="filtered_append">
                                    <div class="position-relative overflow-hidden">
                                        <a href=""><img class="img-fluid" src="`+ value.property_image.at(-1) + `"
                                                alt=""></a>
                                        <div
                                            class="selling_option bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                            For `+ value.selling_option + `</div>
                                        <div
                                            class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            `+ value.property_type + `</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">`+ property_value + `</h5>
                                        <a class="d-block h5 mb-2" href="">`+ value.property_type + `</a>
                                        <p><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>`+ value.property_address + `
                                        </p> 
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-ruler-combined text-primary me-2"></i>`+ value.geography_area + `
                                            Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-bed text-primary me-2"></i>`+ value.construction_status + `</small>
                                        <small class="flex-fill text-center py-2"><i
                                                class="fa fa-bath text-primary me-2"></i>`+ value.property_age + `
                                            Year old</small>
                                    </div>
                                </div>
                                </div>`
                    );
                }

            },
            error: function (response) {
                alert("Error Occured");
            }
        });

    });
    $(".image_modal_container").click(function () {
        $(".img_in_modal").click(function () {
            var tag_name = $(this).prop("tagName");
            if (tag_name == "IMG") {
                var img_src = $(this).attr("src");
                $(".main_picture").attr("src", img_src);
            }
        });
    });

    function show_property_modal(property_id) {
        $(".box_data").empty();
        var local_session_data = JSON.parse(sessionStorage.getItem("data"));
        var data_object = Object();
        for (var key in local_session_data.search_results.id) {
            if (local_session_data.search_results.id[key] === Number(property_id)) {
                is_value_present = true;
                index = key;
                continue;
            }
        }
        var property_data_keys = Object.keys(local_session_data.search_results);
        var user_data = JSON.parse(local_session_data.search_results.user_data[index]);
        $(".contact_no").attr("href", `tel:${user_data.user_mobile}`);
        $(".whatsapp").attr("href", `https://wa.me/${user_data.user_mobile}`);
        $(".user_profile").attr("href", `/user-public-profile/${property_id}`);
        var data_keys = property_data_keys;
        for (var i = 0; i < property_data_keys.length; i++) {
            data_object[data_keys[i]] = local_session_data.search_results[property_data_keys[i]][index];
        }
        for (var [key, val] of Object.entries(data_object.property_data)) {
            if (key == "property_image") {
                $(".main_image").attr("src", val[0]);
                sessionStorage.setItem("image_array", JSON.stringify(val));
            }
            if (key != "property_image" && key != "property_video" && val.length != 0) {
                if (key == "bhk") {
                    $(".bhk_details").append(`${val} BHK, `);
                }
                if (key == "geography_area") {
                    $(".geography_area_details").append(`${val} Sq.ft.`);
                }
                if (key == "property_type") {
                    $(".property_type_details").append(`${val} For`);
                }
                if (key == "selling_option") {
                    $(".selling_option_details").append(`${val} In`);
                    if (val == "Rent") {
                        $(".selling_option_details_for_rate").append(`${data_object.property_data.property_rent_price}/ Month`);
                        $(".selling_value").append(`<i class="fa-regular fa-money-bill-1 text-primary"></i> ${val} In Rs. `);
                    }
                    else if (val == "Sale") {
                        $(".selling_option_details_for_rate").append(`${data_object.property_data.property_value}`);
                        $(".selling_value").append(`<i class="fa-regular fa-money-bill-1 text-primary"></i> ${val} In Rs. `);
                    }
                }
                if (key == "property_address") {
                    $(".property_address_details").append(`${val}`);
                }
                if (key != "from_avail_property_date" && key != "property_rent_price" && key != "property_value" && key != "property_address") {
                    var icon_i = name_to_icon[key]
                    key = key.replace(/_/g, ' ');
                    key = key.charAt(0).toUpperCase() + key.slice(1);
                    $(".box_data").append(` 
                    <div class="col-6 col-lg-2 p-1"> 
                        <div class="border text-center p-2"
                                style="width: 100% !important; height: auto !important;">
                                <b class="icon_picture">${icon_i}</b>
                                <pre></pre>
                                <b class="value_label text-dark">${key}</b>
                                <pre></pre>
                                <p class="value_val">${val}</p>
                            </div> 
                        </div>
                            `);
                }
            }
        }
        // console.log(JSON.parse(sessionStorage.getItem("image_array"))); 
    }


    function picture_show_in_modal() {
        $(".modal_wrapper_in_large").empty();
        $(".image_modal_container").empty();
        var image_array = JSON.parse(sessionStorage.getItem("image_array"));
        $(".modal_wrapper_in_large").append(`<img src="${image_array[0]}" class="w-100 main_picture"> <button type="button" class="btn-close btn bg-white" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:20px; right:20px; height:40px; width:40px;"></button>`);
        for (var i = 0; i < image_array.length; i++) {
            $(".image_modal_container").append(` 
            <img src="${image_array[i]}" class="img_in_modal mt-1"> 
            `)
        }
    }
</script>
{% endblock %}