{% extends 'theme/master.html' %}
{% block add_property_details %}active{% endblock %}
{% block main_content %}
<style>
    .p_type_btn {
        border-radius: 20px;
        border: 1px solid white;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        background-color: skyblue;
        color: black !important;
    }

    .p_type_btn:hover {
        background-color: white;
        color: black !important;
    }

    .active_btn {
        background-color: aliceblue;
        color: #0099ff !important;
    }

    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
    }
</style>
<div class="container-fluid bg-primary mb-4 wow fadeIn" data-wow-delay="0.1s" style="padding: 0px;">
    <div class="container">
        <div class="scroller" style="overflow: auto; display:flex;">
            <button class="col-md-2 btn p_type_btn btn-outline-primary text-white border-white" style="margin:10px;"
                value="all"><a href="{% url 'add_property_details' %}">Add new property</a></button>
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn dashboard_page"
                style="margin:10px;" value="all"><a href="{% url 'dashboard' %}">Property dashboard</a></button>
            <button class="col-md-2 btn btn-outline-primary text-white border-white p_type_btn" style="margin:10px;">
                <a href="{% url 'prop_table' %}">Property list</a></button>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="d-flex">
        <a href="{% url 'dashboard' %}" class="btn btn-primary h-75 mb-3">Back</a>
    </div>
    <div class="row bg-light rounded mx-0 p-2">
        {% csrf_token %}
        <input value="{{id}}" id="id" hidden>
        <div class="row" style="--bs-gutter-x:0;">
            <div class="row g-2 mt-3 col-md-12">
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="property_type" class="form-label">Property Type</label>
                        <select class="form-select property_type prop_val" name="property_type" id="property_type">
                            <option value="{{data.property_type}}">&#x2713; :
                                {{data.property_type}}
                            </option>
                            {% for type in property_type%}
                            <option value="{{type}}">{{type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------ -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="property_age" class="form-label">How many years old your property </label>
                        <input type="number" name="property_age" id="property_age" class="form-control prop_val"
                            value="{{data.property_age}}">
                    </div>
                </div>
                <!-- ------------------------------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="selling_option" class="form-label selling_option" id="selling_option_label">Sell or
                            Rent</label>
                        <select class="form-select prop_val" name="selling_option" id="selling_option"
                            class="selling_option prop_val">
                            <option value="{{data.selling_option}}">&#x2713; :
                                {{data.selling_option|title}}</option>
                            {% for deal_op in deal_option%}
                            <option value="{{deal_op}}">{{deal_op}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label class="form-label">Construction Status</label>
                        <select class="form-select prop_val" name="construction_status" id="construction_status">
                            <option class="form-option" value="{{data.construction_status}}">&#x2713; :
                                {{data.construction_status|title}}</option>
                            {% for status in construction_status%}
                            <option value="{{status}}">{{status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label class="form-label">Floor</label>
                        <input type="number" name="floor" class="form-control prop_val" id="floor" min="1"
                            value="{{data.floor}}">
                    </div>
                </div>
                <!-- ------------------------------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label class="form-label">BHK Detail</label>
                        <select class="form-select prop_val" name="bhk" id="bhk">
                            <option value="{{data.bhk}}" selected>&#x2713; : {{data.bhk}} BHK
                            </option>
                            {% for bh in bhk_details %}
                            <option value="{{bh}}">{{bh}} BHK</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="bathroom" class="form-label">Bathroom</label>
                        <select class="form-select prop_val" name="bathroom" id="bathroom">
                            <option value="{{data.bathroom}}" selected>&#x2713; :
                                {{data.bathroom}}
                                Bathroom
                            </option>
                            {% for bath in bathroom_details %}
                            <option value="{{bath}}">{{bath}} Bathroom</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- -------------------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="balcony" class="form-label balcony">Balcony</label>
                        <select class="form-select prop_val" name="balcony" id="balcony">
                            <option value="{{data.balcony}}" selected>&#x2713; : {{data.balcony}}
                                Balcony
                            </option>
                            {% for bal in balcony_details %}
                            <option value="{{bal}}">{{bal}} Balcony</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- ------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="furnish_type" class="form-label">Furnish Type</label>
                        <select class="form-select furnish_type prop_val" name="furnish_type" id="furnish_type">
                            <option value="{{data.furnish_type}}" selected>&#x2713; :
                                {{data.furnish_type|title}}
                            </option>
                            {% for fur_type in furnish_type %}
                            <option value="{{fur_type}}">{{fur_type|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- ------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="geo_area" class="form-label">Geographical Area In Square Feet</label>
                        <input type="text" name="geography_area" class="form-control prop_val" id="geo_area"
                            placeholder="500 sq. ft, 1000 sq. ft" value="{{data.geography_area}}">
                    </div>
                </div>
                <!-- --------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="parking_type" class="form-label">Parking Detail</label>
                        <select class="form-select prop_val" name="parking_type" id="parking_type">
                            <option value="{{data.parking_type}}" selected>&#x2713; :
                                {{data.parking_type|title}}
                            </option>
                            {% for park_detail in parking_details %}
                            <option value="{{park_detail}}">{{park_detail|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- -------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="property_value" class="form-label">Property Sell Price</label>
                        <input type="text" name="property_value" class="form-control property_value prop_val"
                            id="property_value" value="{{data.property_value}}">
                    </div>
                </div>
                <!-- ------------------------------------------------- -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="property_rent_price" class="form-label">Property Rent Price</label>
                        <input type="text" name="property_rent_price" class="form-control property_rent_price prop_val"
                            id="property_rent_price" value="{{data.property_rent_price}}">
                    </div>
                </div>
                <!-- ------------------------------------------------------ -->
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="from_avail_property_date" class="form-label">When will available property</label>
                        <input type="date" name="from_avail_property_date" class="form-control prop_val"
                            id="from_avail_property_date" value="{{data.from_avail_property_date}}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" class="form-control prop_val" id="country"
                            value="{{data.country}}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="state" class="form-label">State</label>
                        <input type="text" name="state" class="form-control prop_val" id="state" value="{{data.state}}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="city" class="form-label">City</label>
                        <input type="text" name="city" class="form-control prop_val" id="city" value="{{data.city}}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="p-3 border bg-light">
                        <label for="property_address" class="form-label">Other Description</label>
                        <textarea type="textarea" name="property_description" class="form-control property_description"
                            id="property_description">{{instace_data.property_description}}</textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="p-3 border bg-light">
                        <label for="property_address" class="form-label">Property Address</label>
                        <textarea type="textarea" name="property_address" class="form-control property_address prop_val"
                            id="property_address" style="height: 38px;">{{data.property_address}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="div1" style="display:flex; overflow:auto;">
            {% for i in data.property_image %}
            <div class="div2" style="margin:10px;">
                <div style="width:20%;">
                    <img src="{{i}}" alt="" style="height:230px;">
                </div>
                <a href="delete_property_image{{i|slice:'6:'}}">Delete</a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="p-3 border bg-light">
                <label for="property_address" class="form-label">Add more property images/videos</label>
                <form class="form" method="post" action="/images/{{id}}/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <input type="file" class="form-control" name="images" class="col-md-9" multiple>
                        <input type="submit" class="btn btn-primary mt-2">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script for save data, if any changes in form -->
<script>
    $(document).ready(function () {
        $(".prop_val").change(function (e) {
            var property_type = $("#property_type").val();
            var property_age = $("#property_age").val();
            var selling_option = $("#selling_option").val();
            var construction_status = $("#construction_status").val();
            var floor = $("#floor").val();
            var bhk = $("#bhk").val();
            var bathroom = $("#bathroom").val();
            var balcony = $("#balcony").val();
            var geo_area = $("#geo_area").val();
            var property_value = $("#property_value").val();
            var property_rent_price = $("#property_rent_price").val();
            var from_avail_property_date = $("#from_avail_property_date").val();
            var property_country = $("#country").val();

            var property_state = $("#state").val();
            var property_city = $("#city").val();
            var property_address = $("#property_address").val();
            var furnish_type = $("#furnish_type").val();
            var parking_type = $("#parking_type").val();

            var data =
            {
                "property_type": property_type,
                "property_age": property_age,
                "selling_option": selling_option,
                "construction_status": construction_status,
                "floor": floor,
                "bhk": bhk,
                "bathroom": bathroom,
                "balcony": balcony,
                "furnish_type": furnish_type,
                "geography_area": geo_area,
                "parking_type": parking_type,
                "property_value": property_value,
                "property_rent_price": property_rent_price,
                "from_avail_property_date": from_avail_property_date,
                "property_address": property_address,
                "property_country": property_country,
                "property_state": property_state,
                "property_city": property_city
            }
            console.log(data);
            var id = $("#id").val();
            e.preventDefault();
            $.ajax(
                {
                    type: "POST",
                    url: "/update_property_record/" + id + "/",
                    data: {
                        data: data,
                        id: id,
                        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val()
                    },
                    success: function (response) {
                        console.log("response");
                    },
                    error: function (xhr, status, error) {
                        console.log("error");
                    }
                });
        });
        $(".property_address").keyup(function () {
            $("#notes").removeAttr('hidden');
        });
    });
    var page_name = "dashboard_page";

    if (page_name == "dashboard_page") {
        $(".dashboard_page").addClass("active_btn");
    }
</script>
{% endblock %}