{% extends 'theme/master_filter.html' %}
{% load static %}
{% block user_profile_page %}
<style>
    .img-container {
        text-align: center;
    }

    .user_pic {
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }
</style>
<!-- Contact Start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row py-3">
                <div class="col-sm-12 col-md-2 bg-white">
                    <span id="user_detail_div">
                        <div class="img-container w-100 mb-2">
                            <img src="{% static 'img.jpg' %}" alt="user_image" class="user_pic">
                        </div>
                        <div class="text-center">
                            <h3>{{user_data.user_name}}</h3>
                            <span>{{user_data.user_email}}</span> 
                            <div class="card text-center d-flex">
                                <span><i class="fa fa-phone"></i><span>
                                <span>{{user_data.user_mobile}}</span> 
                                <span><i class="fa fa-copy"></i><span>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-ms-12 col-md-10">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-4">
                            <span class="card text-dark">Followers</span>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <span class="card">Following</span>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <span class="card">Total properties</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" id="property_counter"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- Contact End -->
</div>
<script>
    var saved_property_list = [];
    $(document).ready(function () {
        var seller_id = "{{ user_data.user_id }}";
        sessionStorage.setItem("seller_id", seller_id);
        search_property_based_on_input_field_values(selling_type = null, page_number = null, seller_id = seller_id.toString());
    });

    const navbar2 = $("#user_detail_div");
    if (window.matchMedia("(min-width: 425px)").matches) {
        window.addEventListener("scroll", () => {
            if (window.scrollY > 40) {
                navbar2.addClass("z-index");
                navbar2.css({
                    "position": "fixed",
                    "top": "65px",
                    "left": "35px",
                });
            }
            else {
                navbar2.css({
                    "position": "",
                    "top": "0px",
                    "left": "0px",
                });
            }
        });
    }
</script>
{% endblock %}