{% extends 'admin/admin2/master.html' %}

{% block admin_main_content %}

<div class="container-fluid pt-4 px-4"> 
    <h3>Dashboard</h3>

    <div class="row bg-light rounded mx-0 p-2">
        <div class="col-md-4 bg-light parent-props-box" >
            <div class="prop-box text-center">
                <i class="fas fa-trash-alt me-lg-2 h4 trash"></i> 
                <i class="fas fa-pen me-lg-2 h4 edit"></i> 
                <span>   
                    <b>Properties Name</b> 
                </span> 
                <span>
                    <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/40087/thar-exterior-right-front-three-quarter-11.jpeg?q=75&wm=1" alt="" style="width:100%;"> 
                </span>
                <span>
                    qwqwqwqwqw 
                </span> 
            </div>
        </div>
        <div class="col-md-4 bg-light parent-props-box" >
            <div class="prop-box">
                
            </div>
        </div>
        <div class="col-md-4 bg-light parent-props-box" >
            <div class="prop-box">
                
            </div>
        </div>
        <div class="col-md-4 bg-light parent-props-box" >
            <div class="prop-box">
                
            </div>
        </div> 
    </div>
</div>

{% endblock %}