{% extends 'admin/admin2/master.html' %}

{% block admin_main_content %}
<div class="text-center">
    <h1>Property Table</h1>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <!-- <th scope="col">Property Index</th> -->
            <th scope="col">Property type</th>
            <th scope="col">Selling Option</th>
            <th scope="col">Property age</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <!-- <th scope="row">{{count}}</th> -->
            <td>{{i.property_data.property_type}}</td>
            <td>{{i.property_data.selling_option}}</td>
            <td>{{i.property_data.property_age}}</td>
            <td><a href="delete_property_record/{{i.id}}">
                    <i class="mdi mdi-delete h2" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                </a>
            </td>
            <td>
                <a href="update_property_record/{{i.id}}">
                    <i class="mdi mdi-tooltip-edit h2" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Edit"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}